Repository udithishanka/jaseci: changes, and which pre-commit hooks are due for each by the changed paths.
All: ban-em-dashes, jac-format

.pre-commit-config.yaml:

ci:
  skip: [jac-format]

exclude: |
    (?x)(
        ^jac/jaclang/vendor/|
        ^$
    )


repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
      - id: check-json
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
    - id: markdownlint-cli2
      args: [--fix]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args:
          - --ignore-missing-imports
          - --config-file=mypy.ini
          - --explicit-package-bases
        additional_dependencies: [types-PyYAML, types-requests]
        exclude: (/fixtures/|/vendor/|/scripts/|jac/examples/reference)
  - repo: local
    hooks:
      - id: check-no-binary-files
        name: Check for binary files
        entry: Binary files are not allowed
        language: fail
        types: [binary]
        exclude: |
          (?x)(
              ^jac-client/jac_client/examples/all-in-one/assets/burger.png$|
              ^docs/docs/assets/logo\.png$|
              ^docs/docs/assets/org1_logo\.png$|
              ^docs/docs/assets/org2_logo\.png$|
              ^docs/docs/assets/org3_logo\.png$|
              ^jac-byllm/examples/vision/math_question\.jpg$|
              ^jac-byllm/examples/vision/mugen\.mp4$|
              ^jac-byllm/examples/vision/person\.png$|
              ^jac-byllm/examples/vision/receipt\.jpg$|
              ^jac-byllm/tests/fixtures/SampleVideo_1280x720_2mb\.mp4$|
              ^jac-byllm/tests/fixtures/alan-m-turing\.jpg$|
              ^jac-byllm/tests/fixtures/image\.jpg$|
              ^jac-byllm/tests/fixtures/math_question\.jpg$|
              ^jac-byllm/tests/fixtures/webp_image_of_person\.webp$|
              ^jac-client/jac_client/examples/asset-serving/css-with-image/assets/burger\.png$|
              ^jac-client/jac_client/examples/asset-serving/image-asset/assets/burger\.png$|
              ^jac-client/jac_client/examples/asset-serving/import-alias/assets/burger\.png$|
              ^jac/examples/rpg_game/jac_impl/fonts/8bitoperator_jve\.ttf$|
              ^jac/examples/rpg_game/lib_mode/8bitoperator_jve\.ttf$|
              ^jac/examples/rpg_game/python_impl/8bitoperator_jve\.ttf$
          )

      - id: ban-em-dashes
        name: Ban em-dashes (—)
        language: pygrep
        entry: '—'
        types: [markdown]

      - id: jac-format
        name: jac-format
        description: Format and lint-fix Jac files
        entry: env PYTHONPATH=jac python3 -m jaclang format
        language: python
        types: [file]
        args: [--lintfix]
        files: \.jac$
        require_serial: true
        exclude: (/fixtures/|_err\.jac$|_syntax_err\.jac$)
        additional_dependencies: [llvmlite>=0.43.0]

Reword release notes for PWA fixes
  docs/docs/community/release_notes/jac-client.md
Due: ban-em-dashes

revert cosmetic comment changes and restore vite define guard
  jac-client/jac_client/plugin/src/targets/impl/pwa_target.impl.jac
Due: jac-format

test: add regression tests for PWA banner injection and vite define guard
  jac-client/jac_client/tests/test_pwa.jac
Due: jac-format

fix(jac0): skip orphan impls and non-stub impls in bootstrapper (#5481)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/jac0.py
  jac/jaclang/jac0core/passes/pyast_gen_pass.jac
  jac/tests/compiler/fixtures/jac0_impl_guard.impl.jac
  jac/tests/compiler/fixtures/jac0_impl_guard.jac
  jac/tests/compiler/test_jac0.jac
Due: ban-em-dashes, jac-format

feat(sv-to-sv): eager auto-spawn of sv-import providers at consumer startup (#5514)
  docs/docs/community/release_notes/jac-scale.md
  docs/docs/community/release_notes/jaclang.md
  docs/docs/reference/plugins/jac-scale.md
  docs/docs/tutorials/production/microservices.md
  jac-scale/jac_scale/impl/serve.core.impl.jac
  jac-scale/jac_scale/tests/fixtures/microservice/level_a.jac
  jac-scale/jac_scale/tests/fixtures/microservice/level_b.jac
  jac-scale/jac_scale/tests/fixtures/microservice/level_c.jac
  jac-scale/jac_scale/tests/test_eager_spawn.jac
  jac/jaclang/jac0core/impl/runtime.impl.jac
  jac/jaclang/jac0core/passes/impl/pyast_gen_pass.impl.jac
  jac/jaclang/runtimelib/impl/server.impl.jac
  jac/jaclang/runtimelib/server.jac
  jac/jaclang/runtimelib/sv_client.jac
Due: ban-em-dashes, jac-format

fix(type-system): property-aware assignment checking (#5526)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/passes/main/impl/type_checker_pass.impl.jac
  jac/jaclang/compiler/passes/main/type_checker_pass.jac
  jac/jaclang/compiler/type_system/type_evaluator.impl/evaluator_util_methods.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.jac
  jac/jaclang/compiler/type_system/type_utils.jac
  jac/jaclang/jac0core/diagnostics.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_property_assignment.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

fix(type-system): narrowing through BoolExpr inside isinstance guards (#5527)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/passes/main/impl/cfg_build_pass.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_param_isinstance_narrowing.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

fix(jac-scale): graceful scheduler degradation when APScheduler not installed (#5529)
  docs/docs/community/release_notes/jac-scale.md
  jac-scale/jac_scale/impl/scheduler.impl.jac
  jac-scale/jac_scale/scheduler.jac
  jac-scale/jac_scale/tests/test_optional_deps.jac
Due: ban-em-dashes, jac-format

fix(type-system): resolve @jac/runtime virtual module in type checker (#5548)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/passes/ecmascript/impl/esast_gen_pass.impl.jac
  jac/jaclang/jac0core/impl/unitree.impl.jac
  jac/jaclang/jac0core/modresolver.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_jac_runtime_alias.cl.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

docs(jac-scale): add sv import integration plan for microservice mode v2
  jac-scale/jac_scale/microservices/PLAN.md
Due: ban-em-dashes

Add Redis Streams, Lists, and distributed locks to jac-scale Db class
  jac-scale/jac_scale/db.jac
  jac-scale/jac_scale/impl/db.impl.jac
  jac-scale/jac_scale/impl/job_queue.impl.jac
  jac-scale/jac_scale/impl/streams.impl.jac
  jac-scale/jac_scale/job_queue.jac
  jac-scale/jac_scale/streams.jac
Due: jac-format

Fix K8s 401 Unauthorized from stale ServiceAccount token cache
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

uodate docs
  jac-scale/FOLLOWUPS.md
  jac-scale/PR_PLAN.md
  jac-scale/docs/learn-and-do/README.md
  jac-scale/docs/learn-and-do/day-01-what-are-microservices.md
  jac-scale/docs/learn-and-do/day-02-service-registry.md
  jac-scale/docs/learn-and-do/day-03-process-management.md
  jac-scale/docs/learn-and-do/day-04-reverse-proxy.md
  jac-scale/docs/learn-and-do/day-05-gateway-static-serving.md
  jac-scale/docs/learn-and-do/day-06-jwt-auth.md
  jac-scale/docs/learn-and-do/day-07-inter-service-communication.md
  jac-scale/docs/learn-and-do/day-08-cli-tooling.md
  jac-scale/docs/learn-and-do/day-09-plugin-integration.md
  jac-scale/docs/learn-and-do/day-10-deployment-interface.md
  jac-scale/docs/learn-and-do/day-10.1-endpoint-passthrough.md
  jac-scale/docs/learn-and-do/day-10.2-distributed-tracing.md
  jac-scale/docs/learn-and-do/day-10.3-gateway-metrics.md
  jac-scale/docs/learn-and-do/day-10.4-error-handling.md
  jac-scale/docs/learn-and-do/day-10.5-admin-and-docs.md
  jac-scale/docs/learn-and-do/day-10.6-dev-experience.md
  jac-scale/docs/learn-and-do/day-10.7-technical-debt.md
  jac-scale/docs/learn-and-do/day-11-testing-strategy.md
  jac-scale/docs/learn-and-do/day-11.1-kubernetes-deployment.md
  jac-scale/docs/learn-and-do/day-12-error-handling-resilience.md
  jac-scale/docs/learn-and-do/day-13-observability.md
  jac-scale/docs/learn-and-do/day-14-rate-limiting-and-throttling.md
  jac-scale/docs/learn-and-do/day-15-data-consistency.md
  jac-scale/docs/learn-and-do/day-16-api-versioning-and-contracts.md
  jac-scale/docs/learn-and-do/day-17-service-decomposition.md
  jac-scale/docs/learn-and-do/day-18-security-in-depth.md
  jac-scale/docs/learn-and-do/day-19-performance-and-caching.md
  jac-scale/docs/learn-and-do/day-20-production-readiness.md
  jac-scale/docs/microservice-mode-architecture.md
  jac-scale/examples/micr-s-example/.gitignore
  jac-scale/examples/micr-s-example/components/AuthForm.cl.jac
  jac-scale/examples/micr-s-example/components/Button.cl.jac
  jac-scale/examples/micr-s-example/components/TodoItem.cl.jac
Due: ban-em-dashes, jac-format

updare docs
  jac-scale/docs/microservice-mode-architecture.md
Due: ban-em-dashes

fix: byllm plugin reads provider config from jac.toml instead of defaulting to OpenAI (#5279)
  docs/docs/community/release_notes/jaclang.md
  jac-byllm/tests/fixtures/jac_toml_gemini/jac.toml
  jac-byllm/tests/test_byllm.jac
  jac/jaclang/project/impl/plugin_config.impl.jac
Due: ban-em-dashes, jac-format

[byllm] Emit usage `StreamEvent` for no-tool streaming calls (#5553)
  docs/docs/community/release_notes/byllm.md
  jac-byllm/byllm/llm.impl/basellm.impl.jac
  jac-byllm/byllm/llm.impl/mockllm.impl.jac
  jac-byllm/byllm/llm.impl/model.impl.jac
  jac-byllm/tests/fixtures/logging_stream_no_tools.jac
Due: ban-em-dashes, jac-format

feat(eject): end-to-end fullstack parity with jac start (#5562)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/cli/commands/impl/eject.impl.jac
  jac/tests/project/test_eject.jac
Due: ban-em-dashes, jac-format

feat(persistence): alias decorator, coercion table, jac db CLI, Mongo parity (#5561)
  docs/docs/community/release_notes/jac-scale.md
  docs/docs/community/release_notes/jaclang.md
  docs/docs/reference/cli/index.md
  docs/docs/reference/language/osp.md
  docs/docs/reference/persistence.md
  docs/docs/reference/plugin-authoring.md
  docs/docs/reference/plugins/jac-scale.md
  docs/mkdocs.yml
  jac-scale/jac_scale/impl/memory_hierarchy.mongo.impl.jac
  jac-scale/jac_scale/memory_hierarchy.jac
  jac-scale/jac_scale/tests/test_mongo_layer123.jac
  jac/jaclang/cli/commands/__init__.jac
  jac/jaclang/cli/commands/db.jac
  jac/jaclang/cli/commands/impl/db.impl.jac
  jac/jaclang/compiler/type_system/jac_builtins.pyi
  jac/jaclang/runtimelib/builtin.jac
  jac/jaclang/runtimelib/impl/builtin.impl.jac
  jac/jaclang/runtimelib/impl/memory.impl.jac
  jac/jaclang/runtimelib/impl/serializer.impl.jac
  jac/jaclang/runtimelib/memory.jac
  jac/jaclang/runtimelib/serializer.jac
  jac/tests/runtimelib/test_db_cli.jac
  jac/tests/runtimelib/test_layer3_coercion_alias.jac
  jac/tests/runtimelib/test_layer3_e2e.jac
Due: ban-em-dashes, jac-format

ci(test-core): split 17m monolith into compiler + runtime buckets (#5539)
  .github/workflows/test-jaseci.yml
Due: none

fix(lsp): goto-definition on JSX component tags (#5564)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/type_system/type_evaluator.impl/jsx_type_check.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/jaclang/jac0core/parser/impl/parser.impl.jac
  jac/tests/langserve/fixtures/jsx_goto_def.cl.jac
  jac/tests/langserve/test_server.jac
Due: ban-em-dashes, jac-format

fix(type-checker): reserved JSX props and intrinsic tag resolution (#5565)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/type_system/dom_types.pyi
  jac/jaclang/compiler/type_system/type_evaluator.impl/jsx_type_check.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.jac
  jac/jaclang/jac0core/diagnostics.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_jsx_reserved_props.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

fix: resolve streaming fallback infinite loop in ModelPool (#5473)
  docs/docs/community/release_notes/byllm.md
  jac-byllm/byllm/llm.impl/modelpool.impl.jac
  jac-byllm/byllm/llm.jac
  jac-byllm/tests/fixtures/model_pool_streaming_fallback.jac
  jac-byllm/tests/test_byllm.jac
Due: ban-em-dashes, jac-format

fix(jac-client): add missing MouseEvent param to onToggleMode lambda (#5567)
  docs/docs/community/release_notes/jac-client.md
  jac-client/jac_client/templates/fullstack/frontend.cl.jac
Due: ban-em-dashes, jac-format

ci(test-jaseci): progressive jac-scale extras instead of [all] (#5571)
  .github/workflows/test-jaseci.yml
Due: none

feat(type-checker): resolve .reports attribute on walker types (#5582)
  docs/docs/community/release_notes/jaclang.md
  docs/docs/reference/language/osp.md
  docs/docs/reference/language/walker-responses.md
  jac/jaclang/compiler/type_system/jac_builtins.pyi
  jac/jaclang/compiler/type_system/type_evaluator.impl/construct_types.impl.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_walker_reports.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

fix(ci): move walker reports release note to Unreleased section (#5583)
  docs/docs/community/release_notes/jaclang.md
Due: ban-em-dashes

Introduce identity-based auth system with scalable registration (#5424)
  docs/docs/community/release_notes/jac-scale.md
  docs/docs/reference/plugins/jac-scale.md
  jac-scale/jac_scale/admin/impl/admin_portal.impl.jac
  jac-scale/jac_scale/auth_models.jac
  jac-scale/jac_scale/enums.jac
  jac-scale/jac_scale/identity_storage.jac
  jac-scale/jac_scale/impl/identity_storage.impl.jac
  jac-scale/jac_scale/impl/identity_storage.mongo.impl.jac
  jac-scale/jac_scale/impl/identity_storage.sqlite.impl.jac
  jac-scale/jac_scale/impl/serve.auth.impl.jac
  jac-scale/jac_scale/impl/serve.core.impl.jac
  jac-scale/jac_scale/impl/serve.scheduler.impl.jac
  jac-scale/jac_scale/impl/user_manager.impl.jac
  jac-scale/jac_scale/jserver/impl/jfast_api.impl.jac
  jac-scale/jac_scale/jserver/jfast_api.jac
  jac-scale/jac_scale/jserver/jserver.jac
  jac-scale/jac_scale/mongo_storage.jac
  jac-scale/jac_scale/serve.jac
  jac-scale/jac_scale/tests/scale_test_client.jac
  jac-scale/jac_scale/tests/test_memory_hierarchy.jac
  jac-scale/jac_scale/tests/test_microservice.jac
  jac-scale/jac_scale/tests/test_mongo_user_manager.jac
  jac-scale/jac_scale/tests/test_restspec.jac
  jac-scale/jac_scale/tests/test_scheduling.jac
  jac-scale/jac_scale/tests/test_serve.jac
  jac-scale/jac_scale/tests/test_sso.jac
  jac-scale/jac_scale/tests/test_webhook.jac
  jac-scale/jac_scale/user_manager.jac
  jac-scale/jac_scale/utils.jac
  jac-scale/pyproject.toml
Due: ban-em-dashes, jac-format

docs(jac-scale): document identity-based auth system (#5585)
  docs/docs/reference/plugins/jac-scale.md
Due: ban-em-dashes

fix(runtime): allow bidirectional traversal of undirected edges (#5575)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/jac0core/impl/runtime.impl.jac
  jac/tests/language/fixtures/bidirectional_edge_traversal.jac
  jac/tests/language/test_language.jac
Due: ban-em-dashes, jac-format

Switch release notes to fragment-based workflow (#5507)
  .github/workflows/docs-validation.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/docs/community/release_notes/byllm.md
  docs/docs/community/release_notes/jac-client.md
  docs/docs/community/release_notes/jac-mcp.md
  docs/docs/community/release_notes/jac-scale.md
  docs/docs/community/release_notes/jac-super.md
  docs/docs/community/release_notes/jaclang.md
  docs/docs/community/release_notes/unreleased/README.md
  docs/docs/community/release_notes/unreleased/byllm/.gitkeep
  docs/docs/community/release_notes/unreleased/jac-client/.gitkeep
  docs/docs/community/release_notes/unreleased/jac-mcp/.gitkeep
  docs/docs/community/release_notes/unreleased/jac-scale/.gitkeep
  docs/docs/community/release_notes/unreleased/jac-super/.gitkeep
  docs/docs/community/release_notes/unreleased/jaclang/.gitkeep
  docs/docs/community/release_notes/unreleased/jaclang/5575.bugfix.md
  docs/docs/community/release_notes/unreleased/jaclang/5582.bugfix.md
  docs/mkdocs.yml
  scripts/check-release-notes.sh
  scripts/check_release_notes_section.jac
  scripts/collect_release_notes.py
  scripts/release.py
  scripts/validate_fragments.py
Due: ban-em-dashes, jac-format

fix: resolve JWT auth timing window by moving validation into dedicated middleware (#5405)
  docs/docs/community/release_notes/unreleased/jac-scale/5405.bugfix.md
  jac-scale/jac_scale/impl/serve.core.impl.jac
  jac-scale/jac_scale/impl/serve.endpoints.impl.jac
  jac-scale/jac_scale/impl/user_manager.impl.jac
  jac-scale/jac_scale/jserver/impl/jfast_api.impl.jac
  jac-scale/jac_scale/jserver/jfast_api.jac
  jac-scale/jac_scale/tests/test_serve.jac
  jac-scale/jac_scale/user_manager.jac
Due: ban-em-dashes, jac-format

fix(type-system): narrowing for inverted empty-body isinstance guard (#5573)
  docs/docs/community/release_notes/unreleased/jaclang/5573.bugfix.md
  jac/jaclang/compiler/passes/main/impl/cfg_build_pass.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/tests/compiler/fixtures/isinstance_narrowing_guard.jac
  jac/tests/compiler/test_compilation.jac
Due: ban-em-dashes, jac-format

Revert "docs(jac-scale): document identity-based auth system (#5585)"
  docs/docs/reference/plugins/jac-scale.md
Due: ban-em-dashes

Revert "Introduce identity-based auth system with scalable registration (#5424)"
  docs/docs/community/release_notes/jac-scale.md
  docs/docs/reference/plugins/jac-scale.md
  jac-scale/jac_scale/admin/impl/admin_portal.impl.jac
  jac-scale/jac_scale/auth_models.jac
  jac-scale/jac_scale/enums.jac
  jac-scale/jac_scale/identity_storage.jac
  jac-scale/jac_scale/impl/identity_storage.impl.jac
  jac-scale/jac_scale/impl/identity_storage.mongo.impl.jac
  jac-scale/jac_scale/impl/identity_storage.sqlite.impl.jac
  jac-scale/jac_scale/impl/serve.auth.impl.jac
  jac-scale/jac_scale/impl/serve.core.impl.jac
  jac-scale/jac_scale/impl/serve.scheduler.impl.jac
  jac-scale/jac_scale/impl/user_manager.impl.jac
  jac-scale/jac_scale/jserver/impl/jfast_api.impl.jac
  jac-scale/jac_scale/jserver/jfast_api.jac
  jac-scale/jac_scale/jserver/jserver.jac
  jac-scale/jac_scale/mongo_storage.jac
  jac-scale/jac_scale/serve.jac
  jac-scale/jac_scale/tests/scale_test_client.jac
  jac-scale/jac_scale/tests/test_memory_hierarchy.jac
  jac-scale/jac_scale/tests/test_microservice.jac
  jac-scale/jac_scale/tests/test_mongo_user_manager.jac
  jac-scale/jac_scale/tests/test_restspec.jac
  jac-scale/jac_scale/tests/test_scheduling.jac
  jac-scale/jac_scale/tests/test_serve.jac
  jac-scale/jac_scale/tests/test_sso.jac
  jac-scale/jac_scale/tests/test_webhook.jac
  jac-scale/jac_scale/user_manager.jac
  jac-scale/jac_scale/utils.jac
  jac-scale/pyproject.toml
Due: ban-em-dashes, jac-format

Reapply "Introduce identity-based auth system with scalable registration (#5424)"
  docs/docs/community/release_notes/jac-scale.md
  docs/docs/reference/plugins/jac-scale.md
  jac-scale/jac_scale/admin/impl/admin_portal.impl.jac
  jac-scale/jac_scale/auth_models.jac
  jac-scale/jac_scale/enums.jac
  jac-scale/jac_scale/identity_storage.jac
  jac-scale/jac_scale/impl/identity_storage.impl.jac
  jac-scale/jac_scale/impl/identity_storage.mongo.impl.jac
  jac-scale/jac_scale/impl/identity_storage.sqlite.impl.jac
  jac-scale/jac_scale/impl/serve.auth.impl.jac
  jac-scale/jac_scale/impl/serve.core.impl.jac
  jac-scale/jac_scale/impl/serve.scheduler.impl.jac
  jac-scale/jac_scale/impl/user_manager.impl.jac
  jac-scale/jac_scale/jserver/impl/jfast_api.impl.jac
  jac-scale/jac_scale/jserver/jfast_api.jac
  jac-scale/jac_scale/jserver/jserver.jac
  jac-scale/jac_scale/mongo_storage.jac
  jac-scale/jac_scale/serve.jac
  jac-scale/jac_scale/tests/scale_test_client.jac
  jac-scale/jac_scale/tests/test_memory_hierarchy.jac
  jac-scale/jac_scale/tests/test_microservice.jac
  jac-scale/jac_scale/tests/test_mongo_user_manager.jac
  jac-scale/jac_scale/tests/test_restspec.jac
  jac-scale/jac_scale/tests/test_scheduling.jac
  jac-scale/jac_scale/tests/test_serve.jac
  jac-scale/jac_scale/tests/test_sso.jac
  jac-scale/jac_scale/tests/test_webhook.jac
  jac-scale/jac_scale/user_manager.jac
  jac-scale/jac_scale/utils.jac
  jac-scale/pyproject.toml
Due: ban-em-dashes, jac-format

Reapply "docs(jac-scale): document identity-based auth system (#5585)"
  docs/docs/reference/plugins/jac-scale.md
Due: ban-em-dashes

fix(jac-client): update jacSignup/jacLogin to identity-based payload
  jac-client/jac_client/plugin/impl/client_runtime.impl.jac
Due: jac-format

feat: Auto-lint pass to convert React `usestate` hooks to Jac `has` declarations (#5476)
  docs/docs/community/release_notes/unreleased/jac-client/5476.feature.md
  docs/docs/community/release_notes/unreleased/jaclang/5476.feature.md
  jac-client/jac_client/examples/all-in-one/components/TransactionForm.jac
  jac-client/jac_client/examples/all-in-one/hooks/useBudget.jac
  jac-client/jac_client/examples/all-in-one/hooks/useLocalStorage.jac
  jac-client/jac_client/examples/all-in-one/pages/budget_planner_ui.cl.jac
  jac-client/jac_client/examples/full-stack-with-auth/main.jac
  jac/jaclang/compiler/passes/tool/impl/jac_auto_lint_pass.impl.jac
  jac/jaclang/compiler/passes/tool/jac_auto_lint_pass.jac
  jac/jaclang/jac0core/diagnostics.jac
  jac/tests/compiler/passes/tool/fixtures/auto_lint/usestate_calls_remain.jac
  jac/tests/compiler/passes/tool/fixtures/auto_lint/usestate_partial_import.jac
  jac/tests/compiler/passes/tool/fixtures/auto_lint/usestate_to_has.jac
  jac/tests/compiler/passes/tool/test_jac_auto_lint_pass.jac
Due: ban-em-dashes, jac-format
