Repository udithishanka/jaseci: changes, and which pre-commit hooks are due for each by the changed paths.
All: ban-em-dashes, jac-format

.pre-commit-config.yaml:

ci:
  skip: [jac-format]

exclude: |
    (?x)(
        ^jac/jaclang/vendor/|
        ^$
    )


repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
      - id: check-json
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
    - id: markdownlint-cli2
      args: [--fix]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args:
          - --ignore-missing-imports
          - --config-file=mypy.ini
          - --explicit-package-bases
        additional_dependencies: [types-PyYAML, types-requests]
        exclude: (/fixtures/|/vendor/|/scripts/|jac/examples/reference)
  - repo: local
    hooks:
      - id: check-no-binary-files
        name: Check for binary files
        entry: Binary files are not allowed
        language: fail
        types: [binary]
        exclude: |
          (?x)(
              ^jac-client/jac_client/examples/all-in-one/assets/burger.png$|
              ^docs/docs/assets/logo\.png$|
              ^docs/docs/assets/org1_logo\.png$|
              ^docs/docs/assets/org2_logo\.png$|
              ^docs/docs/assets/org3_logo\.png$|
              ^jac-byllm/examples/vision/math_question\.jpg$|
              ^jac-byllm/examples/vision/mugen\.mp4$|
              ^jac-byllm/examples/vision/person\.png$|
              ^jac-byllm/examples/vision/receipt\.jpg$|
              ^jac-byllm/tests/fixtures/SampleVideo_1280x720_2mb\.mp4$|
              ^jac-byllm/tests/fixtures/alan-m-turing\.jpg$|
              ^jac-byllm/tests/fixtures/image\.jpg$|
              ^jac-byllm/tests/fixtures/math_question\.jpg$|
              ^jac-byllm/tests/fixtures/webp_image_of_person\.webp$|
              ^jac-client/jac_client/examples/asset-serving/css-with-image/assets/burger\.png$|
              ^jac-client/jac_client/examples/asset-serving/image-asset/assets/burger\.png$|
              ^jac-client/jac_client/examples/asset-serving/import-alias/assets/burger\.png$|
              ^jac/examples/rpg_game/jac_impl/fonts/8bitoperator_jve\.ttf$|
              ^jac/examples/rpg_game/lib_mode/8bitoperator_jve\.ttf$|
              ^jac/examples/rpg_game/python_impl/8bitoperator_jve\.ttf$
          )

      - id: ban-em-dashes
        name: Ban em-dashes (—)
        language: pygrep
        entry: '—'
        types: [markdown]

      - id: jac-format
        name: jac-format
        description: Format and lint-fix Jac files
        entry: env PYTHONPATH=jac python3 -m jaclang format
        language: python
        types: [file]
        args: [--lintfix]
        files: \.jac$
        require_serial: true
        exclude: (/fixtures/|_err\.jac$|_syntax_err\.jac$)
        additional_dependencies: [llvmlite>=0.43.0]

Revert "Fix docs validation: skip partial Jac snippet blocks in sandbox docs"
  docs/docs/reference/plugins/jac-scale.md
Due: ban-em-dashes

Fix docs validation: skip partial Jac snippet blocks in sandbox docs
  docs/docs/reference/plugins/jac-scale.md
Due: ban-em-dashes

Fix sandbox doc code blocks to be valid standalone Jac
  docs/docs/reference/plugins/jac-scale.md
Due: ban-em-dashes

Fix HMR WebSocket proxy to forward vite-hmr sub-protocol
  jac-scale/jac_scale/providers/proxy/sandbox_proxy.jac
Due: jac-format

Rename 'entry' variable to 'rec' in sandbox providers
  jac-scale/jac_scale/providers/sandbox/docker_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/local_sandbox.jac
Due: jac-format

Fix sandbox preview: auto-refresh on startup + include binary assets
  jac-scale/jac_scale/providers/proxy/sandbox_proxy.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Add background cleanup loop for sandbox pod lifecycle
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

feat: Add type[T] subscript member access support (#5169)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/type_system/type_evaluator.impl/evaluator_util_methods.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_type_subscript_member.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

feat: fuse post-hoc type filters into topology index optimization (#5206)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/jac0core/impl/runtime.impl.jac
  jac/jaclang/jac0core/passes/impl/pyast_gen_pass.impl.jac
  jac/jaclang/jac0core/runtime.jac
  jac/tests/runtimelib/test_topology_e2e.jac
Due: ban-em-dashes, jac-format

Implement lazy loading of examples from GitHub (#5216)
  docs/docs/community/release_notes/jac-mcp.md
  jac-mcp/jac_mcp/impl/resources.impl.jac
  jac-mcp/jac_mcp/resources.jac
  jac-mcp/pyproject.toml
Due: ban-em-dashes, jac-format

Add jac-mcp to jac-scale deployment pipeline
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
  jac-scale/jac_scale/targets/kubernetes/templates/base.Dockerfile
Due: jac-format

Revert base.Dockerfile change and add release notes for jac-mcp
  docs/docs/community/release_notes/jac-scale.md
  jac-scale/jac_scale/targets/kubernetes/templates/base.Dockerfile
Due: ban-em-dashes

Use idiomatic Jac: obj, native enum, remove redundant init and docstrings
  jac-scale/jac_scale/abstractions/ingress_provider.jac
  jac-scale/jac_scale/abstractions/models/sandbox_config.jac
  jac-scale/jac_scale/abstractions/models/sandbox_result.jac
  jac-scale/jac_scale/abstractions/models/sandbox_status.jac
  jac-scale/jac_scale/abstractions/sandbox_environment.jac
  jac-scale/jac_scale/factories/ingress_factory.jac
  jac-scale/jac_scale/factories/sandbox_factory.jac
  jac-scale/jac_scale/lib.jac
  jac-scale/jac_scale/plugin_config.jac
  jac-scale/jac_scale/providers/ingress/kubernetes_ingress.jac
  jac-scale/jac_scale/providers/ingress/local_ingress.jac
  jac-scale/jac_scale/providers/ingress/proxy_ingress.jac
  jac-scale/jac_scale/providers/proxy/sandbox_proxy.jac
  jac-scale/jac_scale/providers/sandbox/docker_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/local_sandbox.jac
  jac-scale/jac_scale/tests/test_sandbox_factory.jac
Due: jac-format

Remove redundant init methods from provider classes
  jac-scale/jac_scale/providers/ingress/kubernetes_ingress.jac
  jac-scale/jac_scale/providers/ingress/local_ingress.jac
  jac-scale/jac_scale/providers/ingress/proxy_ingress.jac
  jac-scale/jac_scale/providers/sandbox/docker_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/local_sandbox.jac
Due: jac-format

Revert plugin_config to class — hookimpl, not a data model
  jac-scale/jac_scale/plugin_config.jac
Due: jac-format

Restore docstrings in plugin_config.jac
  jac-scale/jac_scale/plugin_config.jac
Due: jac-format

Fix jac format whitespace and move sandbox release note to 0.2.7
  docs/docs/community/release_notes/jac-scale.md
  jac-scale/jac_scale/abstractions/ingress_provider.jac
  jac-scale/jac_scale/abstractions/sandbox_environment.jac
Due: ban-em-dashes, jac-format

Remove unused sandbox/ingress imports from lib.jac that broke test collection
  jac-scale/jac_scale/lib.jac
Due: jac-format

Fix LiteralString type error in sandbox path validation
  jac-scale/jac_scale/abstractions/sandbox_environment.jac
Due: jac-format

Fix type checker errors across sandbox files for bytecode compilation
  jac-scale/jac_scale/abstractions/models/sandbox_config.jac
  jac-scale/jac_scale/factories/sandbox_factory.jac
  jac-scale/jac_scale/providers/sandbox/docker_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/local_sandbox.jac
Due: jac-format

Fix remaining type checker errors in sandbox providers
  jac-scale/jac_scale/providers/sandbox/docker_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/local_sandbox.jac
Due: jac-format

Fix remaining Any attribute access errors with getattr pattern
  jac-scale/jac_scale/providers/sandbox/local_sandbox.jac
Due: jac-format

Add sandbox bytecode pre-compilation to pod startup command
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
Due: jac-format

Fix pre-compile command quoting for sandbox bytecode
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
Due: jac-format

Run jac format on sandbox files
  jac-scale/jac_scale/abstractions/models/sandbox_config.jac
  jac-scale/jac_scale/providers/sandbox/docker_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/local_sandbox.jac
Due: jac-format

Use jac_import for sandbox pre-compilation (populates bytecode cache)
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
Due: jac-format

remove accidental PWA client detection from kubernetes_target
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
Due: jac-format

Remove explicit self: params from sandbox obj methods (duplicate arg error)
  jac-scale/jac_scale/abstractions/models/sandbox_result.jac
  jac-scale/jac_scale/abstractions/models/sandbox_status.jac
  jac-scale/jac_scale/abstractions/sandbox_environment.jac
  jac-scale/jac_scale/providers/sandbox/docker_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/local_sandbox.jac
Due: jac-format

Use jac run with precompile script for sandbox bytecode generation
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
Due: jac-format

Fix formatting and remove explicit self from obj methods in sandbox/ingress providers
  jac-scale/jac_scale/abstractions/ingress_provider.jac
  jac-scale/jac_scale/abstractions/models/sandbox_result.jac
  jac-scale/jac_scale/abstractions/models/sandbox_status.jac
  jac-scale/jac_scale/abstractions/sandbox_environment.jac
  jac-scale/jac_scale/providers/ingress/kubernetes_ingress.jac
  jac-scale/jac_scale/providers/ingress/local_ingress.jac
  jac-scale/jac_scale/providers/ingress/proxy_ingress.jac
  jac-scale/jac_scale/providers/sandbox/docker_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/local_sandbox.jac
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
Due: jac-format

fix(jac-scale): add byllm and watchdog to sandbox base image
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-base.Dockerfile
Due: none

fix: remove byllm from Jac ecosystem installation in Dockerfile
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-base.Dockerfile
Due: none

feat: ternary else-branch type narrowing (#5275)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_type_narrowing.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

jac-scale: auto-deploy sandbox proxy when proxy_mode=true
  jac-scale/jac_scale/config_loader.jac
  jac-scale/jac_scale/impl/config_loader.impl.jac
  jac-scale/jac_scale/plugin.jac
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
  jac-scale/pyproject.toml
Due: jac-format

Revert "jac-scale: auto-deploy sandbox proxy when proxy_mode=true"
  jac-scale/jac_scale/config_loader.jac
  jac-scale/jac_scale/impl/config_loader.impl.jac
  jac-scale/jac_scale/plugin.jac
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
  jac-scale/pyproject.toml
Due: jac-format

Replenish warm pool after cleanup_expired removes TTL-expired pods
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Revert litellm pin to <1.83.0 in jac-byllm
  jac-byllm/pyproject.toml
Due: none

fix: type annotation improvements and enum.auto() support (#5328)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/passes/main/cfg_build_pass.jac
  jac/jaclang/compiler/passes/main/impl/cfg_build_pass.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.impl/parameter_type_check.impl.jac
  jac/jaclang/compiler/type_system/types.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_class_enum.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format
