Repository udithishanka/jaseci: changes, and which pre-commit hooks are due for each by the changed paths.
All: ban-em-dashes, jac-format

.pre-commit-config.yaml:

ci:
  skip: [jac-format]

exclude: |
    (?x)(
        ^jac/jaclang/vendor/|
        ^$
    )


repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
      - id: check-json
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
    - id: markdownlint-cli2
      args: [--fix]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args:
          - --ignore-missing-imports
          - --config-file=mypy.ini
          - --explicit-package-bases
        additional_dependencies: [types-PyYAML, types-requests]
        exclude: (/fixtures/|/vendor/|/scripts/|jac/examples/reference)
  - repo: local
    hooks:
      - id: check-no-binary-files
        name: Check for binary files
        entry: Binary files are not allowed
        language: fail
        types: [binary]
        exclude: |
          (?x)(
              ^jac-client/jac_client/examples/all-in-one/assets/burger.png$|
              ^docs/docs/assets/logo\.png$|
              ^docs/docs/assets/org1_logo\.png$|
              ^docs/docs/assets/org2_logo\.png$|
              ^docs/docs/assets/org3_logo\.png$|
              ^jac-byllm/examples/vision/math_question\.jpg$|
              ^jac-byllm/examples/vision/mugen\.mp4$|
              ^jac-byllm/examples/vision/person\.png$|
              ^jac-byllm/examples/vision/receipt\.jpg$|
              ^jac-byllm/tests/fixtures/SampleVideo_1280x720_2mb\.mp4$|
              ^jac-byllm/tests/fixtures/alan-m-turing\.jpg$|
              ^jac-byllm/tests/fixtures/image\.jpg$|
              ^jac-byllm/tests/fixtures/math_question\.jpg$|
              ^jac-byllm/tests/fixtures/webp_image_of_person\.webp$|
              ^jac-client/jac_client/examples/asset-serving/css-with-image/assets/burger\.png$|
              ^jac-client/jac_client/examples/asset-serving/image-asset/assets/burger\.png$|
              ^jac-client/jac_client/examples/asset-serving/import-alias/assets/burger\.png$|
              ^jac/examples/rpg_game/jac_impl/fonts/8bitoperator_jve\.ttf$|
              ^jac/examples/rpg_game/lib_mode/8bitoperator_jve\.ttf$|
              ^jac/examples/rpg_game/python_impl/8bitoperator_jve\.ttf$
          )

      - id: ban-em-dashes
        name: Ban em-dashes (—)
        language: pygrep
        entry: '—'
        types: [markdown]

      - id: jac-format
        name: jac-format
        description: Format and lint-fix Jac files
        entry: env PYTHONPATH=jac python3 -m jaclang format
        language: python
        types: [file]
        args: [--lintfix]
        files: \.jac$
        require_serial: true
        exclude: (/fixtures/|_err\.jac$|_syntax_err\.jac$)
        additional_dependencies: [llvmlite>=0.43.0]

docs(jac-scale): align plans and docs with sv import integration (v2)
  jac-scale/docs/learn-and-do/README.md
  jac-scale/jac_scale/microservices/PLAN.md
  jac-scale/jac_scale/microservices/docs.md
Due: ban-em-dashes

docs(jac-scale): add PR tracker for microservice follow-up work
  jac-scale/jac_scale/microservices/FOLLOWUPS.md
Due: ban-em-dashes

feat(release-notes): add refactor and docs fragment categories (#5592)
  CONTRIBUTING.md
  docs/docs/community/release_notes/unreleased/README.md
  scripts/check-release-notes.sh
  scripts/collect_release_notes.py
  scripts/validate_fragments.py
Due: ban-em-dashes

Telemetry for nested byllm calls (#5478)
  docs/docs/community/release_notes/unreleased/byllm/5478.feature.md
  docs/docs/community/release_notes/unreleased/jac-scale/5478.feature.md
  jac-byllm/byllm/llm.impl/basellm.impl.jac
  jac-byllm/byllm/llm.impl/model.impl.jac
  jac-byllm/byllm/llm.jac
  jac-byllm/byllm/telemetry.impl/telemetry.impl.jac
  jac-byllm/byllm/telemetry.jac
  jac-byllm/tests/test_telemetry_.jac
  jac-scale/jac_scale/admin/impl/llm_telemetry.impl.jac
  jac-scale/jac_scale/admin/ui/pages/admin/monitoring/LLMTracesPage.cl.jac
  jac-scale/jac_scale/admin/ui/services/llmService.cl.jac
  jac-scale/jac_scale/tests/test_llm_telemetry.jac
Due: ban-em-dashes, jac-format

feat(type-checker): add W1051 warning for unresolved expression types (#5586)
  docs/docs/community/release_notes/unreleased/jaclang/5586.feature.md
  jac/jaclang/compiler/passes/main/impl/type_checker_pass.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.jac
  jac/jaclang/jac0core/diagnostics.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
  jac/tests/langserve/server_test/test_lang_serve.jac
Due: ban-em-dashes, jac-format

feat(jac-client): support [desktop.bundle] extra_data in jac.toml (#5581)
  docs/docs/community/release_notes/unreleased/jac-client/5581.feature.md
  docs/docs/reference/plugins/jac-client.md
  jac-client/jac_client/plugin/src/targets/impl/desktop_target.impl.jac
  jac-client/jac_client/tests/test_desktop_bundle_extra_data.jac
Due: ban-em-dashes, jac-format

feat(jac-client): generate icon.ico for Windows desktop bundles (#5580)
  docs/docs/community/release_notes/unreleased/jac-client/5580.feature.md
  jac-client/jac_client/plugin/src/targets/impl/desktop_target.impl.jac
  jac-client/jac_client/tests/test_desktop_icon_ico.jac
Due: ban-em-dashes, jac-format

fix(jac-client): Windows data path + skip cc build-tool check on Windows (#5579)
  docs/docs/community/release_notes/unreleased/jac-client/5579.bugfix.md
  jac-client/jac_client/plugin/src/targets/impl/desktop_target.impl.jac
  jac-client/jac_client/tests/test_desktop_windows_data_path.jac
Due: ban-em-dashes, jac-format

fix(jac-client): Windows PyInstaller sidecar support (onedir + UTF-8 + multiprocessing) (#5578)
  docs/docs/community/release_notes/unreleased/jac-client/5578.bugfix.md
  jac-client/jac_client/plugin/src/targets/impl/desktop_target.impl.jac
  jac-client/jac_client/tests/test_desktop_pyinstaller_windows.jac
Due: ban-em-dashes, jac-format

perf(jac-client): skip PyInstaller --clean for faster incremental sidecar builds (#5577)
  docs/docs/community/release_notes/unreleased/jac-client/5577.feature.md
  jac-client/jac_client/plugin/src/targets/impl/desktop_target.impl.jac
  jac-client/jac_client/tests/test_desktop_pyinstaller_clean.jac
Due: ban-em-dashes, jac-format

feat(type-checker): resolve enum member declarations to EnumMemberType (#5603)
  docs/docs/community/release_notes/unreleased/jaclang/5603.feature.md
  jac/jaclang/compiler/passes/main/impl/type_checker_pass.impl.jac
  jac/jaclang/compiler/type_system/enum_utils.jac
  jac/jaclang/compiler/type_system/impl/enum_utils.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_enum_member_decl_type.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_enum_member_impl_decl_type.jac
  jac/tests/compiler/passes/main/fixtures/connect_agentvisitor.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

fix(decl-impl-match): resolve component has variables in impl method bodies (#5608)
  .pre-commit-config.yaml
  docs/docs/community/release_notes/unreleased/jaclang/5608.bugfix.md
  jac/jaclang/jac0core/passes/impl/decl_impl_match_pass.impl.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_component_impl_scope.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

fix(compiler): resolve has-var scope in impl bodies + jac0 module-level impls (#5605)
  docs/docs/community/release_notes/unreleased/jaclang/5605.bugfix.md
  jac/jaclang/jac0.py
  jac/jaclang/jac0core/passes/decl_impl_match_pass.jac
  jac/jaclang/jac0core/passes/impl/decl_impl_match_pass.impl.jac
  jac/jaclang/jac0core/passes/impl/sym_tab_build_pass.impl.jac
  jac/jaclang/jac0core/passes/sym_tab_build_pass.jac
  jac/tests/compiler/passes/main/fixtures/impl_has_var_reassign.cl.jac
  jac/tests/compiler/passes/main/fixtures/impl_has_var_reassign.impl.jac
  jac/tests/compiler/passes/main/test_checker_bugs.jac
Due: ban-em-dashes, jac-format

feat(type-checker): validate comparison operator types (E1110/E1111) (#5610)
  docs/docs/community/release_notes/unreleased/jaclang/5610.feature.md
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.jac
  jac/jaclang/jac0core/diagnostics.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_compare_operator_validation.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

feat(type-checker): W2080 warning for undeclared obj attributes in init/postinit (#5611)
  docs/docs/community/release_notes/unreleased/jaclang/5611.feature.md
  jac/jaclang/compiler/type_system/impl/types.impl.jac
  jac/jaclang/jac0core/diagnostics.jac
  jac/jaclang/jac0core/passes/decl_impl_match_pass.jac
  jac/jaclang/jac0core/passes/impl/decl_impl_match_pass.impl.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_undeclared_obj_attr.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

fix: add missing `has` declarations to core AST types (#5612)
  jac/jaclang/compiler/type_system/impl/types.impl.jac
  jac/jaclang/jac0core/impl/unitree.impl.jac
  jac/jaclang/jac0core/unitree.jac
Due: jac-format

fix(type-checker): resolve false E1001 on annotated self-assignments (#5613)
  docs/docs/community/release_notes/unreleased/jaclang/5613.bugfix.md
  jac/jaclang/compiler/passes/main/impl/type_checker_pass.impl.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_annotated_self_assign.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

fix: add missing has declarations to Token, Import, ParamVar, SpecialVarRef, Source, PythonModuleAst (#5615)
  jac/jaclang/jac0core/unitree.jac
Due: jac-format

chore: remove 13 files from .jacignore that now pass jac check (#5616)
  .jacignore
Due: none

fix: add proper type annotations to compiler.jac (#5617)
  jac/jaclang/jac0core/compiler.jac
  jac/jaclang/jac0core/impl/compiler.impl.jac
Due: jac-format

fix(type-checker): declare root() as ambient builtin (#5609)
  docs/docs/community/release_notes/unreleased/jaclang/5609.bugfix.md
  jac/jaclang/compiler/type_system/jac_builtins.pyi
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/jaclang/jac0core/passes/impl/pyast_gen_pass.impl.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_connect_node_collection.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_root_call_type.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_root_type.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_walrus_operator.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

chore: remove 10 files from .jacignore that now pass jac check (#5618)
  .jacignore
Due: none

fix(checker): suppress spurious W1051 for member-access attribute names (#5619)
  docs/docs/community/release_notes/unreleased/jaclang/5619.bugfix.md
  jac/jaclang/compiler/passes/main/impl/type_checker_pass.impl.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

example(mini_todo): add native priority scorer to demo na codespace (#5620)
  jac/examples/mini_todo/main.jac
Due: jac-format

feat(checker): support path patterns in .jacignore and jac check --ignore (#5621)
  .jacignore
  docs/docs/community/release_notes/unreleased/jaclang/5620.feature.md
  jac/jaclang/cli/commands/impl/analysis.impl.jac
Due: ban-em-dashes, jac-format

fix(checker): suppress spurious W1051 for KWPair keys and SubTag names (#5623)
  docs/docs/community/release_notes/unreleased/jaclang/5622.bugfix.md
  jac/jaclang/compiler/passes/main/impl/type_checker_pass.impl.jac
Due: ban-em-dashes, jac-format

fix(checker): implement optional chaining (?.) type resolution (#5624)
  docs/docs/community/release_notes/unreleased/jaclang/5624.bugfix.md
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_optional_chaining.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

fix(checker): prevent cascading Unknown from partial union member access (#5625)
  docs/docs/community/release_notes/unreleased/jaclang/5625.bugfix.md
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

fix(checker): isinstance narrowing propagates through AND conditions (#5626)
  docs/docs/community/release_notes/unreleased/jaclang/5626.bugfix.md
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_isinstance_and_narrowing.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

feat(jac-scale): Support custom `obj` types as walker & `@restspec` function body parameters (#5554)
  docs/docs/community/release_notes/unreleased/jac-scale/5554.feature.md
  jac-scale/jac_scale/impl/serve.endpoints.impl.jac
  jac-scale/jac_scale/jserver/impl/jfast_api.impl.jac
  jac-scale/jac_scale/jserver/jfast_api.jac
  jac-scale/jac_scale/jserver/jserver.jac
  jac-scale/jac_scale/tests/fixtures/restspec_fixtures.jac
  jac-scale/jac_scale/tests/test_restspec.jac
Due: ban-em-dashes, jac-format

feat(jac-scale): rework microservice mode to use sv import (v2)
  jac-scale/examples/micr-s-example/cart_app.jac
  jac-scale/examples/micr-s-example/endpoints.sv.jac
  jac-scale/examples/micr-s-example/frontend.impl.jac
  jac-scale/examples/micr-s-example/jac.toml
  jac-scale/examples/micr-s-example/main.jac
  jac-scale/examples/micr-s-example/orders_app.jac
  jac-scale/examples/micr-s-example/products_app.jac
  jac-scale/examples/micr-s-example/services/cart.jac
  jac-scale/examples/micr-s-example/services/orders.jac
  jac-scale/examples/micr-s-example/services/products.jac
  jac-scale/jac_scale/impl/config_loader.impl.jac
  jac-scale/jac_scale/microservices/PROGRESS.md
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/microservices/impl/process_manager.impl.jac
  jac-scale/jac_scale/microservices/impl/service_client.impl.jac
  jac-scale/jac_scale/microservices/impl/service_http.py
  jac-scale/jac_scale/microservices/orchestrator.jac
  jac-scale/jac_scale/microservices/service_client.jac
  jac-scale/jac_scale/plugin.jac
  jac-scale/jac_scale/tests/test_deployer.jac
  jac-scale/jac_scale/tests/test_orchestrator.jac
  jac-scale/jac_scale/tests/test_process_manager.jac
  jac-scale/jac_scale/tests/test_service_client.jac
Due: ban-em-dashes, jac-format

fix(jac-scale): resolve jac binary via shutil.which / sys.executable
  jac-scale/examples/micr-s-example/orders_app.jac
  jac-scale/jac_scale/microservices/impl/process_manager.impl.jac
  jac-scale/jac_scale/plugin.jac
Due: jac-format

feat(jac-scale): propagate Authorization header on sv-to-sv RPC calls
  jac-scale/jac_scale/jserver/impl/jfast_api.impl.jac
  jac-scale/jac_scale/microservices/sv_auth_client.py
  jac-scale/jac_scale/plugin.jac
Due: jac-format

fix(checker): resolve base class names in enclosing scope (#5634)
  docs/docs/community/release_notes/unreleased/jaclang/5634.bugfix.md
  jac/jaclang/compiler/type_system/type_evaluator.impl/evaluator_util_methods.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_bug_base_class_scope.jac
  jac/tests/compiler/passes/main/test_checker_bugs.jac
Due: ban-em-dashes, jac-format

chore(jac-scale): remove microservice planning docs and tutorial series
  jac-scale/FOLLOWUPS.md
  jac-scale/PR_PLAN.md
  jac-scale/docs/learn-and-do/README.md
  jac-scale/docs/learn-and-do/day-01-what-are-microservices.md
  jac-scale/docs/learn-and-do/day-02-service-registry.md
  jac-scale/docs/learn-and-do/day-03-process-management.md
  jac-scale/docs/learn-and-do/day-04-reverse-proxy.md
  jac-scale/docs/learn-and-do/day-05-gateway-static-serving.md
  jac-scale/docs/learn-and-do/day-06-jwt-auth.md
  jac-scale/docs/learn-and-do/day-07-inter-service-communication.md
  jac-scale/docs/learn-and-do/day-08-cli-tooling.md
  jac-scale/docs/learn-and-do/day-09-plugin-integration.md
  jac-scale/docs/learn-and-do/day-10-deployment-interface.md
  jac-scale/docs/learn-and-do/day-10.1-endpoint-passthrough.md
  jac-scale/docs/learn-and-do/day-10.2-distributed-tracing.md
  jac-scale/docs/learn-and-do/day-10.3-gateway-metrics.md
  jac-scale/docs/learn-and-do/day-10.4-error-handling.md
  jac-scale/docs/learn-and-do/day-10.5-admin-and-docs.md
  jac-scale/docs/learn-and-do/day-10.6-dev-experience.md
  jac-scale/docs/learn-and-do/day-10.7-technical-debt.md
  jac-scale/docs/learn-and-do/day-11-testing-strategy.md
  jac-scale/docs/learn-and-do/day-11.1-kubernetes-deployment.md
  jac-scale/docs/learn-and-do/day-12-error-handling-resilience.md
  jac-scale/docs/learn-and-do/day-13-observability.md
  jac-scale/docs/learn-and-do/day-14-rate-limiting-and-throttling.md
  jac-scale/docs/learn-and-do/day-15-data-consistency.md
  jac-scale/docs/learn-and-do/day-16-api-versioning-and-contracts.md
  jac-scale/docs/learn-and-do/day-17-service-decomposition.md
  jac-scale/docs/learn-and-do/day-18-security-in-depth.md
  jac-scale/docs/learn-and-do/day-19-performance-and-caching.md
  jac-scale/docs/learn-and-do/day-20-production-readiness.md
  jac-scale/docs/microservice-mode-architecture.md
  jac-scale/jac_scale/microservices/FOLLOWUPS.md
  jac-scale/jac_scale/microservices/PLAN.md
  jac-scale/jac_scale/microservices/PROGRESS.md
Due: ban-em-dashes

chore(jac-scale): delete unused scratch fixtures and example leftovers
  jac-scale/examples/micr-s-example/components/TodoItem.cl.jac
  jac-scale/test-microservices/jac.toml
  jac-scale/test-microservices/services/orders.jac
  jac-scale/test-microservices/services/payments.jac
  jac-scale/test-microservices/shared/models.jac
Due: jac-format

refactor(jac-scale): drop dead code, consolidate helpers, retire v1 config
  jac-scale/jac_scale/impl/config_loader.impl.jac
  jac-scale/jac_scale/microservices/_util.jac
  jac-scale/jac_scale/microservices/gateway.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/microservices/impl/process_manager.impl.jac
  jac-scale/jac_scale/microservices/orchestrator.jac
  jac-scale/jac_scale/microservices/setup.jac
  jac-scale/jac_scale/plugin.jac
  jac-scale/jac_scale/plugin_config.jac
  jac-scale/jac_scale/tests/test_gateway.jac
  jac-scale/jac_scale/tests/test_orchestrator.jac
  jac-scale/jac_scale/tests/test_setup.jac
Due: jac-format

refactor(jac-scale): port http_forward to jac, match sandbox_proxy pattern
  jac-scale/jac_scale/microservices/impl/http_forward.jac
  jac-scale/jac_scale/microservices/impl/http_forward.py
  jac-scale/pyproject.toml
Due: jac-format
