Repository udithishanka/jaseci: changes, and which pre-commit hooks are due for each by the changed paths.
All: ban-em-dashes, jac-format

ban-em-dashes:
  name: Ban em-dashes (—)
  language: pygrep
  entry: —

jac-format:
  name: jac-format
  description: Format and lint-fix Jac files
  entry: env PYTHONPATH=jac python3 -m jaclang format
  language: python
  args:
  - --lintfix
  require_serial: true
  additional_dependencies:
  - llvmlite>=0.43.0

fix(type-checker): suppress spurious W1051 on intrinsic JSX tag names (#5664)
  docs/docs/community/release_notes/unreleased/jaclang/5664.bugfix.md
  jac/jaclang/compiler/passes/main/impl/type_checker_pass.impl.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_jsx_intrinsic_tag_resolution.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

feat(jac-scale): P6 - per-provider circuit breaker on sv_service_call
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/plugin.jac
  jac-scale/jac_scale/tests/test_sv_auth_forward.jac
Due: ban-em-dashes, jac-format

feat(jac-scale): P7 - X-Trace-Id propagation across gateway + sv-import hops
  jac-scale/examples/micr-s-example/test_e2e.sh
  jac-scale/jac_scale/jserver/impl/jfast_api.impl.jac
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/microservices/_trace_ctx.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/plugin.jac
  jac-scale/jac_scale/tests/test_sv_auth_forward.jac
Due: ban-em-dashes, jac-format

refactor: Remove sandbox module from jac-scale (#5646)
  docs/docs/community/release_notes/unreleased/jac-scale/5646.refactor.md
  jac-scale/jac_scale/abstractions/ingress_provider.jac
  jac-scale/jac_scale/abstractions/models/sandbox_config.jac
  jac-scale/jac_scale/abstractions/models/sandbox_result.jac
  jac-scale/jac_scale/abstractions/models/sandbox_status.jac
  jac-scale/jac_scale/abstractions/sandbox_environment.jac
  jac-scale/jac_scale/factories/ingress_factory.jac
  jac-scale/jac_scale/factories/sandbox_factory.jac
  jac-scale/jac_scale/plugin_config.jac
  jac-scale/jac_scale/providers/ingress/kubernetes_ingress.jac
  jac-scale/jac_scale/providers/ingress/local_ingress.jac
  jac-scale/jac_scale/providers/ingress/proxy_ingress.jac
  jac-scale/jac_scale/providers/proxy/sandbox_proxy.jac
  jac-scale/jac_scale/providers/sandbox/docker_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/local_sandbox.jac
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-base.Dockerfile
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-proxy.Dockerfile
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-proxy/deployment.yaml
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-proxy/ingress.yaml
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-proxy/rbac.yaml
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-proxy/service.yaml
  jac-scale/jac_scale/tests/test_sandbox_factory.jac
Due: ban-em-dashes, jac-format

ci(scripts): enforce bullet-point format in release note fragments (#5650)
  docs/docs/community/release_notes/unreleased/jaclang/5638.bugfix.md
  docs/docs/community/release_notes/unreleased/jaclang/5643.bugfix.md
  docs/docs/community/release_notes/unreleased/jaclang/5647.docs.md
  scripts/check-release-notes.sh
Due: ban-em-dashes

feat(jac-scale): P8 - Prometheus metrics on the microservice gateway
  jac-scale/examples/micr-s-example/test_e2e.sh
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/microservices/_metrics.jac
  jac-scale/jac_scale/microservices/gateway.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/tests/test_gateway.jac
Due: ban-em-dashes, jac-format

docs(jac-scale): add dev-setup section to example README (part of P12)
  jac-scale/examples/micr-s-example/README.md
Due: ban-em-dashes

feat(jac-scale): P9 - unified /docs + aggregated /openapi.json on the gateway
  jac-scale/examples/micr-s-example/test_e2e.sh
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/microservices/_openapi_agg.jac
  jac-scale/jac_scale/microservices/gateway.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/tests/test_gateway.jac
Due: ban-em-dashes, jac-format

feat(coord): add distributed coordination primitives to jac-scale (#5628)
  docs/docs/community/release_notes/unreleased/jac-scale/5628.feature.md
  docs/docs/community/release_notes/unreleased/jaclang/5628.feature.md
  jac-scale/jac_scale/coord.jac
  jac-scale/jac_scale/impl/coord.impl.jac
  jac-scale/jac_scale/impl/serve.endpoints.impl.jac
  jac/jaclang/runtimelib/scheduler.jac
  jac/jaclang/runtimelib/server.jac
Due: ban-em-dashes, jac-format

feat(jac-scale): P10 - standardized gateway error envelope + Retry-After
  jac-scale/examples/micr-s-example/test_e2e.sh
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/microservices/_errors.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/tests/test_gateway.jac
Due: ban-em-dashes, jac-format

feat(jac-scale): P13 - graceful shutdown / drain on SIGTERM
  jac-scale/examples/micr-s-example/test_e2e.sh
  jac-scale/jac_scale/impl/config_loader.impl.jac
  jac-scale/jac_scale/jserver/impl/jfast_api.impl.jac
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/microservices/_drain.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/plugin_config.jac
  jac-scale/jac_scale/tests/test_drain.jac
  jac-scale/jac_scale/tests/test_gateway.jac
Due: ban-em-dashes, jac-format

feat(jac-scale): P14 - per-service RPC timeout override
  jac-scale/jac_scale/impl/config_loader.impl.jac
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/plugin.jac
  jac-scale/jac_scale/plugin_config.jac
  jac-scale/jac_scale/tests/test_sv_auth_forward.jac
Due: ban-em-dashes, jac-format

feat(jac-scale): P15 - WebSockets + SSE streaming on the gateway
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/microservices/_ws_forward.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/microservices/impl/http_forward.jac
  jac-scale/jac_scale/tests/test_stream_ws.jac
Due: ban-em-dashes, jac-format

refactor(jac-scale): lift gateway WS catchall to module scope + document uvicorn gap
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
Due: ban-em-dashes, jac-format

fix(jac-scale): gateway WS proxy - root cause was PEP-563 annotation resolution
  jac-scale/examples/micr-s-example/products_app.jac
  jac-scale/examples/micr-s-example/test_e2e.sh
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
Due: ban-em-dashes, jac-format

chore(jac-scale): trim P13-P15 narrative comments and stale docstrings
  jac-scale/examples/micr-s-example/products_app.jac
  jac-scale/examples/micr-s-example/test_e2e.sh
  jac-scale/jac_scale/jserver/impl/jfast_api.impl.jac
  jac-scale/jac_scale/microservices/_drain.jac
  jac-scale/jac_scale/microservices/_ws_forward.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/microservices/impl/http_forward.jac
  jac-scale/jac_scale/plugin.jac
  jac-scale/jac_scale/tests/test_drain.jac
  jac-scale/jac_scale/tests/test_gateway.jac
  jac-scale/jac_scale/tests/test_stream_ws.jac
  jac-scale/jac_scale/tests/test_sv_auth_forward.jac
Due: jac-format

feat(jac-scale): validate email format on register/login (#5598)
  docs/docs/community/release_notes/unreleased/jac-scale/5598.feature.md
  jac-scale/jac_scale/auth_models.jac
  jac-scale/jac_scale/serve.jac
  jac-scale/jac_scale/tests/test_serve.jac
  jac-scale/pyproject.toml
Due: ban-em-dashes, jac-format

feat(jac-scale): P16 - CORS middleware on the gateway
  jac-scale/jac_scale/impl/config_loader.impl.jac
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/plugin_config.jac
  jac-scale/jac_scale/tests/test_gateway.jac
Due: ban-em-dashes, jac-format

feat(jac-scale): P17 - rate limiting (per-IP + per-user) on the gateway
  jac-scale/jac_scale/impl/config_loader.impl.jac
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/microservices/_rate_limit.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/plugin_config.jac
  jac-scale/jac_scale/tests/test_rate_limit.jac
Due: ban-em-dashes, jac-format

docs(jac-scale): close out P12 - production-hardening docs + CORS e2e
  docs/docs/tutorials/production/microservices.md
  jac-scale/examples/micr-s-example/README.md
  jac-scale/examples/micr-s-example/jac.toml
  jac-scale/examples/micr-s-example/test_e2e.sh
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/microservices/docs.md
  jac-scale/jac_scale/microservices/setup.jac
Due: ban-em-dashes, jac-format

feat(jac-scale): flip CORS to open-by-default
  docs/docs/tutorials/production/microservices.md
  jac-scale/examples/micr-s-example/jac.toml
  jac-scale/jac_scale/impl/config_loader.impl.jac
  jac-scale/jac_scale/microservices/docs.md
  jac-scale/jac_scale/microservices/setup.jac
  jac-scale/jac_scale/plugin_config.jac
Due: ban-em-dashes, jac-format

fix(jsx): decode HTML entities in text nodes and string attributes (#5678)
  docs/docs/community/release_notes/unreleased/jaclang/5678.bugfix.md
  jac/jaclang/jac0core/passes/ast_gen/impl/jsx_processor.impl.jac
  jac/tests/compiler/passes/ecmascript/fixtures/jsx_entity_decode.cl.jac
  jac/tests/compiler/passes/ecmascript/test_esast_gen_pass.jac
Due: ban-em-dashes, jac-format

perf(jac-scale): share testcontainers across `test_memory_hierarchy` tests to cut suite runtime (#5676)
  docs/docs/community/release_notes/unreleased/jac-scale/5676.refactor.md
  jac-scale/jac_scale/tests/test_memory_hierarchy.jac
Due: ban-em-dashes, jac-format

[codex] Fix Jac any annotation typing (#5689)
  docs/docs/community/release_notes/unreleased/jaclang/5689.bugfix.md
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_jac_any_keyword_annotation.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

feat(jac-scale): P18 - declarative static mounts on the gateway
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/microservices/docs.md
  jac-scale/jac_scale/microservices/gateway.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/microservices/orchestrator.jac
  jac-scale/jac_scale/tests/test_gateway.jac
Due: ban-em-dashes, jac-format

fix(runtimelib): pass generator results through _finalize_call_response
  jac/jaclang/runtimelib/impl/server.impl.jac
  jac/jaclang/runtimelib/server.jac
Due: jac-format

feat(jac-scale): SSE-frame generator returns in serve.endpoints
  jac-scale/jac_scale/impl/serve.endpoints.impl.jac
  jac-scale/jac_scale/microservices/_sse.jac
Due: jac-format

feat: SSE-aware sv_service_call (jaclang core + jac-scale override)
  jac-scale/jac_scale/plugin.jac
  jac/jaclang/jac0core/impl/runtime.impl.jac
  jac/jaclang/runtimelib/sv_sse.jac
Due: jac-format

fix(sv-rpc): read body before json() on streaming Response
  jac-scale/jac_scale/plugin.jac
  jac/jaclang/jac0core/impl/runtime.impl.jac
Due: jac-format

fix(sv-rpc): don't double-enter SSE response context manager
  jac-scale/jac_scale/plugin.jac
  jac/jaclang/jac0core/impl/runtime.impl.jac
  jac/jaclang/runtimelib/sv_sse.jac
Due: jac-format

test(sv-rpc): port test_sv_auth_forward to httpx.Client mock pattern
  jac-scale/jac_scale/tests/test_sv_auth_forward.jac
Due: jac-format

test(sv-rpc): add SSE streaming coverage
  jac-scale/jac_scale/tests/test_sv_streaming.jac
Due: jac-format

docs(jac-scale): document streaming sv-to-sv RPC
  docs/docs/community/release_notes/unreleased/jac-scale/sv-streaming.feature.md
  jac-scale/jac_scale/microservices/docs.md
Due: ban-em-dashes

chore(jac-scale): rename changelog fragment to PR# and strip flagged em-dashes
  docs/docs/community/release_notes/unreleased/jac-scale/5483.feature.md
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/microservices/docs.md
Due: ban-em-dashes

chore(jac-scale): replace empty __init__.py with __init__.jac and strip remaining em-dashes
  jac-scale/jac_scale/microservices/__init__.jac
  jac-scale/jac_scale/microservices/__init__.py
  jac-scale/jac_scale/microservices/docs.md
  jac-scale/jac_scale/microservices/impl/__init__.jac
  jac-scale/jac_scale/microservices/impl/__init__.py
Due: ban-em-dashes, jac-format

docs(jaclang): add release note fragment for SSE-aware sv_service_call
  docs/docs/community/release_notes/unreleased/jaclang/5483.feature.md
Due: ban-em-dashes

fix(jac-scale): update dev-mode streaming test for SSE framing
  jac-scale/jac_scale/tests/test_serve.jac
Due: jac-format

style: apply jac format --lintfix across microservice + sv-streaming files
  jac-scale/examples/micr-s-example/cart_app.jac
  jac-scale/examples/micr-s-example/components/AuthForm.cl.jac
  jac-scale/examples/micr-s-example/frontend.cl.jac
  jac-scale/examples/micr-s-example/frontend.impl.jac
  jac-scale/examples/micr-s-example/main.jac
  jac-scale/examples/micr-s-example/orders_app.jac
  jac-scale/examples/micr-s-example/products_app.jac
  jac-scale/jac_scale/impl/config_loader.impl.jac
  jac-scale/jac_scale/jserver/impl/jfast_api.impl.jac
  jac-scale/jac_scale/microservices/_auth_ctx.jac
  jac-scale/jac_scale/microservices/_drain.jac
  jac-scale/jac_scale/microservices/_errors.jac
  jac-scale/jac_scale/microservices/_metrics.jac
  jac-scale/jac_scale/microservices/_openapi_agg.jac
  jac-scale/jac_scale/microservices/_rate_limit.jac
  jac-scale/jac_scale/microservices/_sse.jac
  jac-scale/jac_scale/microservices/_trace_ctx.jac
  jac-scale/jac_scale/microservices/_util.jac
  jac-scale/jac_scale/microservices/_ws_forward.jac
  jac-scale/jac_scale/microservices/deployer.jac
  jac-scale/jac_scale/microservices/gateway.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/microservices/impl/http_forward.jac
  jac-scale/jac_scale/microservices/impl/local_deployer.impl.jac
  jac-scale/jac_scale/microservices/impl/process_manager.impl.jac
  jac-scale/jac_scale/microservices/impl/service_registry.impl.jac
  jac-scale/jac_scale/microservices/local_deployer.jac
  jac-scale/jac_scale/microservices/orchestrator.jac
  jac-scale/jac_scale/microservices/setup.jac
  jac-scale/jac_scale/plugin.jac
  jac/jaclang/jac0core/impl/runtime.impl.jac
  jac/jaclang/jac0core/runtime.jac
  jac/jaclang/runtimelib/sv_sse.jac
Due: jac-format

fix(jac-scale): include exception type in raw_forward error log
  jac-scale/jac_scale/microservices/impl/http_forward.jac
Due: jac-format

fix(jac-scale): use Path.is_relative_to for static-file jail (close path traversal)
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
Due: jac-format

Path conditions:
  ban-em-dashes: any of: \.(md|markdown|mdown)$, but not: (?x)(
    ^jac/jaclang/vendor/|
    ^$
)

  jac-format: any of: \.jac$ and not ((/fixtures/|_err\.jac$|_syntax_err\.jac$)) and not ((?x)(
    ^jac/jaclang/vendor/|
    ^$
)
)
