Repository udithishanka/jaseci: changes, and which pre-commit hooks are due for each by the changed paths.
All: ban-em-dashes, jac-format

.pre-commit-config.yaml:

ci:
  skip: [jac-format]

exclude: |
    (?x)(
        ^jac/jaclang/vendor/|
        ^$
    )


repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
      - id: check-json
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
    - id: markdownlint-cli2
      args: [--fix]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args:
          - --ignore-missing-imports
          - --config-file=mypy.ini
          - --explicit-package-bases
        additional_dependencies: [types-PyYAML, types-requests]
        exclude: (/fixtures/|/vendor/|/scripts/|jac/examples/reference)
  - repo: local
    hooks:
      - id: check-no-binary-files
        name: Check for binary files
        entry: Binary files are not allowed
        language: fail
        types: [binary]
        exclude: |
          (?x)(
              ^jac-client/jac_client/examples/all-in-one/assets/burger.png$|
              ^docs/docs/assets/logo\.png$|
              ^docs/docs/assets/org1_logo\.png$|
              ^docs/docs/assets/org2_logo\.png$|
              ^docs/docs/assets/org3_logo\.png$|
              ^jac-byllm/examples/vision/math_question\.jpg$|
              ^jac-byllm/examples/vision/mugen\.mp4$|
              ^jac-byllm/examples/vision/person\.png$|
              ^jac-byllm/examples/vision/receipt\.jpg$|
              ^jac-byllm/tests/fixtures/SampleVideo_1280x720_2mb\.mp4$|
              ^jac-byllm/tests/fixtures/alan-m-turing\.jpg$|
              ^jac-byllm/tests/fixtures/image\.jpg$|
              ^jac-byllm/tests/fixtures/math_question\.jpg$|
              ^jac-byllm/tests/fixtures/webp_image_of_person\.webp$|
              ^jac-client/jac_client/examples/asset-serving/css-with-image/assets/burger\.png$|
              ^jac-client/jac_client/examples/asset-serving/image-asset/assets/burger\.png$|
              ^jac-client/jac_client/examples/asset-serving/import-alias/assets/burger\.png$|
              ^jac/examples/rpg_game/jac_impl/fonts/8bitoperator_jve\.ttf$|
              ^jac/examples/rpg_game/lib_mode/8bitoperator_jve\.ttf$|
              ^jac/examples/rpg_game/python_impl/8bitoperator_jve\.ttf$
          )

      - id: ban-em-dashes
        name: Ban em-dashes (—)
        language: pygrep
        entry: '—'
        types: [markdown]

      - id: jac-format
        name: jac-format
        description: Format and lint-fix Jac files
        entry: env PYTHONPATH=jac python3 -m jaclang format
        language: python
        types: [file]
        args: [--lintfix]
        files: \.jac$
        require_serial: true
        exclude: (/fixtures/|_err\.jac$|_syntax_err\.jac$)
        additional_dependencies: [llvmlite>=0.43.0]

fix: remove dead port-free wait loop (ss not installed in sandbox image)
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

fix: pre-build admin dashboard in Dockerfile and preserve during warm pod cleanup
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-base.Dockerfile
Due: jac-format

Revert "fix: update admin client build process to use writable directory for artifacts"
  jac-scale/jac_scale/admin/impl/admin_portal.impl.jac
Due: jac-format

fix: preserve admin dashboard in code injection cleanup path
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Revert "fix: preserve admin dashboard in code injection cleanup path"
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

feat(jac-scale): pre-build admin dashboard during release (#5433)
  .github/workflows/publish-release.yml
  .github/workflows/release-scale.yml
  .github/workflows/test-jaseci.yml
  .gitignore
  docs/docs/community/release_notes/jac-scale.md
  jac-scale/jac_scale/admin/impl/admin_portal.impl.jac
  jac-scale/pyproject.toml
  jac-scale/scripts/build_admin_ui.jac
  scripts/integration_tests.jac
  scripts/parse_release.py
  scripts/release_utils.py
Due: ban-em-dashes, jac-format

fix: remove admin pre-build workaround, use jac-scale 0.2.12 bundled _dist
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-base.Dockerfile
Due: jac-format

Source .env in sandbox pod startup for user env vars
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

fix: bind faux-scope assignments to enclosing Python scope (#5458)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/jac0core/passes/impl/sym_tab_build_pass.impl.jac
  jac/jaclang/jac0core/passes/sym_tab_build_pass.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_narrowing_root_causes.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

feat(jac-scale): add microservice mode config schema and module skeleton
  jac-scale/jac_scale/config_loader.jac
  jac-scale/jac_scale/impl/config_loader.impl.jac
  jac-scale/jac_scale/microservices/__init__.jac
  jac-scale/jac_scale/plugin_config.jac
  jac-scale/test-microservices/jac.toml
  jac-scale/test-microservices/services/orders.jac
  jac-scale/test-microservices/services/payments.jac
  jac-scale/test-microservices/shared/models.jac
Due: jac-format

feat(jac-scale): add ServiceRegistry for microservice route matching
  jac-scale/jac_scale/microservices/__init__.jac
  jac-scale/jac_scale/microservices/__init__.py
  jac-scale/jac_scale/microservices/impl/__init__.py
  jac-scale/jac_scale/microservices/impl/service_registry.impl.jac
  jac-scale/jac_scale/microservices/service_registry.jac
  jac-scale/jac_scale/tests/test_microservices_registry.jac
Due: jac-format

feat(jac-scale): add ServiceProcessManager for subprocess lifecycle
  jac-scale/jac_scale/microservices/impl/process_manager.impl.jac
  jac-scale/jac_scale/microservices/process_manager.jac
  jac-scale/jac_scale/tests/test_process_manager.jac
Due: jac-format

Add ephemeral-storage support to jac-scale Kubernetes deployments
  jac-scale/jac_scale/targets/kubernetes/kubernetes_config.jac
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
  jac-scale/jac_scale/targets/kubernetes/utils/kubernetes_utils.impl.jac
  jac-scale/jac_scale/targets/kubernetes/utils/kubernetes_utils.jac
  jac-scale/jac_scale/tests/test_k8s_utils.jac
Due: jac-format

Remove scope based narrowing (#5469)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/passes/main/impl/cfg_build_pass.impl.jac
  jac/jaclang/compiler/passes/main/impl/type_checker_pass.impl.jac
  jac/jaclang/compiler/passes/main/type_checker_pass.jac
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

fix: add explicit UTF-8 encoding to open() calls in compiler and CLI (#5464)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/cli/commands/impl/project.impl.jac
  jac/jaclang/cli/commands/impl/tools.impl.jac
  jac/jaclang/compiler/passes/main/impl/cfg_build_pass.impl.jac
  jac/jaclang/compiler/passes/native/na_ir_gen_pass.impl/core.impl.jac
  jac/tests/project/test_utf8_encoding.jac
Due: ban-em-dashes, jac-format

feat(jac-scale): add MicroserviceGateway with path-based reverse proxy
  jac-scale/jac_scale/microservices/gateway.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/microservices/impl/http_forward.py
  jac-scale/jac_scale/microservices/impl/process_manager.impl.jac
  jac-scale/jac_scale/microservices/process_manager.jac
  jac-scale/jac_scale/tests/test_gateway.jac
Due: jac-format

feat(jac-scale): add static file serving and SPA fallback to gateway
  jac-scale/jac_scale/microservices/gateway.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/tests/test_gateway.jac
Due: jac-format

feat(jac-scale): add admin UI serving to microservice gateway
  jac-scale/jac_scale/microservices/gateway.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/tests/test_gateway.jac
Due: jac-format

feat(jac-scale): add JWT auth and token propagation to gateway
  jac-scale/jac_scale/microservices/gateway.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/tests/test_gateway.jac
Due: jac-format

feat(jac-scale): add service_call client and e-commerce microservice example
  jac-scale/examples/micr-s-example/README.md
  jac-scale/examples/micr-s-example/cart_app.jac
  jac-scale/examples/micr-s-example/endpoints.sv.jac
  jac-scale/examples/micr-s-example/frontend.cl.jac
  jac-scale/examples/micr-s-example/frontend.impl.jac
  jac-scale/examples/micr-s-example/jac.toml
  jac-scale/examples/micr-s-example/main.jac
  jac-scale/examples/micr-s-example/orders_app.jac
  jac-scale/examples/micr-s-example/products_app.jac
  jac-scale/examples/micr-s-example/services/cart.jac
  jac-scale/examples/micr-s-example/services/orders.jac
  jac-scale/examples/micr-s-example/services/products.jac
  jac-scale/jac_scale/microservices/impl/service_client.impl.jac
  jac-scale/jac_scale/microservices/impl/service_http.py
  jac-scale/jac_scale/microservices/service_client.jac
  jac-scale/jac_scale/tests/test_service_client.jac
Due: ban-em-dashes, jac-format

feat(jac-scale): add jac setup microservice CLI command
  jac-scale/jac_scale/microservices/setup.jac
  jac-scale/jac_scale/plugin.jac
  jac-scale/jac_scale/tests/test_setup.jac
Due: jac-format

feat(jac-scale): add microservice orchestrator and plugin.jac integration
  jac-scale/examples/micr-s-example/cart_app.jac
  jac-scale/examples/micr-s-example/endpoints.sv.jac
  jac-scale/examples/micr-s-example/orders_app.jac
  jac-scale/examples/micr-s-example/products_app.jac
  jac-scale/examples/micr-s-example/services/products.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/microservices/impl/process_manager.impl.jac
  jac-scale/jac_scale/microservices/orchestrator.jac
  jac-scale/jac_scale/plugin.jac
  jac-scale/jac_scale/tests/test_orchestrator.jac
Due: jac-format

fix(jac-scale): fix gateway passthrough, client auth, and product seeding
  jac-scale/examples/micr-s-example/frontend.cl.jac
  jac-scale/examples/micr-s-example/frontend.impl.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
Due: jac-format

fix(jac-scale): fix frontend API calls for microservice gateway
  jac-scale/examples/micr-s-example/frontend.impl.jac
Due: jac-format

feat(jac-scale): add inter-service communication with token propagation
  jac-scale/examples/micr-s-example/frontend.impl.jac
  jac-scale/examples/micr-s-example/services/orders.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/microservices/service_client.jac
Due: jac-format

fix(jac-scale): fix cart delete to use disconnect instead of del here
  jac-scale/examples/micr-s-example/services/cart.jac
Due: jac-format

feat(jac-scale): add ServiceDeployer interface and jac scale CLI
  jac-scale/docs/learn-and-do/README.md
  jac-scale/docs/learn-and-do/day-10-deployment-interface.md
  jac-scale/jac_scale/microservices/deployer.jac
  jac-scale/jac_scale/microservices/impl/local_deployer.impl.jac
  jac-scale/jac_scale/microservices/local_deployer.jac
  jac-scale/jac_scale/microservices/orchestrator.jac
  jac-scale/jac_scale/plugin.jac
  jac-scale/jac_scale/tests/test_deployer.jac
Due: ban-em-dashes, jac-format

feat(jac-mcp): add interactive browser dashboard example for MCP tools (#5291)
  jac-mcp/examples/mcp-dashboard-studio/.gitignore
  jac-mcp/examples/mcp-dashboard-studio/.python-version
  jac-mcp/examples/mcp-dashboard-studio/README.md
  jac-mcp/examples/mcp-dashboard-studio/__init__.jac
  jac-mcp/examples/mcp-dashboard-studio/backend/__init__.jac
  jac-mcp/examples/mcp-dashboard-studio/backend/service.jac
  jac-mcp/examples/mcp-dashboard-studio/backend/utils.jac
  jac-mcp/examples/mcp-dashboard-studio/components/Badge.cl.jac
  jac-mcp/examples/mcp-dashboard-studio/components/Button.cl.jac
  jac-mcp/examples/mcp-dashboard-studio/components/Card.cl.jac
  jac-mcp/examples/mcp-dashboard-studio/components/CodeBlock.cl.jac
  jac-mcp/examples/mcp-dashboard-studio/components/Spinner.cl.jac
  jac-mcp/examples/mcp-dashboard-studio/frontend/Dashboard.cl.jac
  jac-mcp/examples/mcp-dashboard-studio/frontend/Dashboard.impl.jac
  jac-mcp/examples/mcp-dashboard-studio/jac.toml
  jac-mcp/examples/mcp-dashboard-studio/main.jac
  jac-mcp/examples/mcp-dashboard-studio/pyproject.toml
  jac-mcp/examples/mcp-dashboard-studio/scripts/dev.sh
  jac-mcp/examples/mcp-dashboard-studio/styles/main.css
  jac-mcp/examples/mcp-dashboard-studio/tests/input_contract_test.jac
  jac-mcp/examples/mcp-dashboard-studio/tests/service_test.jac
  jac-mcp/examples/mcp-dashboard-studio/tests/utils_test.jac
  jac-mcp/examples/mcp-dashboard-studio/tests/walkers_test.jac
  jac-mcp/examples/mcp-dashboard-studio/uv.lock
Due: ban-em-dashes, jac-format

docs(jac-scale): add microservice mode user documentation
  jac-scale/jac_scale/microservices/docs.md
Due: ban-em-dashes

refactor(jac-scale): restructure e-commerce example with flat graph
  jac-scale/examples/micr-s-example/cart_app.jac
  jac-scale/examples/micr-s-example/endpoints.sv.jac
  jac-scale/examples/micr-s-example/main.jac
  jac-scale/examples/micr-s-example/orders_app.jac
  jac-scale/examples/micr-s-example/products_app.jac
  jac-scale/examples/micr-s-example/services/cart.jac
  jac-scale/examples/micr-s-example/services/orders.jac
  jac-scale/examples/micr-s-example/services/products.jac
Due: jac-format

fix(jac-scale): fix cart walkers to avoid Pydantic underscore field error
  jac-scale/examples/micr-s-example/services/cart.jac
Due: jac-format

fix(jac-scale): flatten order graph and clean up debug output
  jac-scale/examples/micr-s-example/endpoints.sv.jac
  jac-scale/examples/micr-s-example/main.jac
  jac-scale/examples/micr-s-example/orders_app.jac
  jac-scale/examples/micr-s-example/services/orders.jac
Due: jac-format

docs(jac-scale): add pre-K8s production readiness roadmap (Days 10.1-10.6)
  jac-scale/docs/learn-and-do/README.md
  jac-scale/docs/learn-and-do/day-10.1-endpoint-passthrough.md
  jac-scale/docs/learn-and-do/day-10.2-distributed-tracing.md
  jac-scale/docs/learn-and-do/day-10.3-gateway-metrics.md
  jac-scale/docs/learn-and-do/day-10.4-error-handling.md
  jac-scale/docs/learn-and-do/day-10.5-admin-and-docs.md
  jac-scale/docs/learn-and-do/day-10.6-dev-experience.md
  jac-scale/jac_scale/microservices/docs.md
Due: ban-em-dashes

fix(jac-scale): remove mock auth, add service log files, audit tech debt
  jac-scale/docs/learn-and-do/README.md
  jac-scale/docs/learn-and-do/day-10.7-technical-debt.md
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/microservices/impl/local_deployer.impl.jac
  jac-scale/jac_scale/microservices/impl/process_manager.impl.jac
  jac-scale/jac_scale/tests/test_gateway.jac
Due: ban-em-dashes, jac-format

feat(jac-scale): complete endpoint passthrough for all jac-scale routes
  jac-scale/jac_scale/microservices/gateway.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/tests/test_gateway.jac
Due: jac-format

fix(jac-scale): use raw fd for service logs to suppress terminal output
  jac-scale/jac_scale/microservices/impl/process_manager.impl.jac
Due: jac-format

chore: remove learn-and-do docs from tracking
  jac-scale/docs/learn-and-do/README.md
  jac-scale/docs/learn-and-do/day-10-deployment-interface.md
  jac-scale/docs/learn-and-do/day-10.1-endpoint-passthrough.md
  jac-scale/docs/learn-and-do/day-10.2-distributed-tracing.md
  jac-scale/docs/learn-and-do/day-10.3-gateway-metrics.md
  jac-scale/docs/learn-and-do/day-10.4-error-handling.md
  jac-scale/docs/learn-and-do/day-10.5-admin-and-docs.md
  jac-scale/docs/learn-and-do/day-10.6-dev-experience.md
  jac-scale/docs/learn-and-do/day-10.7-technical-debt.md
Due: ban-em-dashes

Fix PWA install banner not rendering and service worker cache failures
  jac-client/jac_client/plugin/impl/client.impl.jac
  jac-client/jac_client/plugin/src/targets/impl/pwa_target.impl.jac
Due: jac-format

Add release notes for PWA fixes
  docs/docs/community/release_notes/jac-client.md
Due: ban-em-dashes
