Repository udithishanka/jaseci: changes, and which pre-commit hooks are due for each by the changed paths.
All: ban-em-dashes, jac-format

ban-em-dashes:
  name: Ban em-dashes (—)
  language: pygrep
  entry: —

jac-format:
  name: jac-format
  description: Format and lint-fix Jac files
  entry: env PYTHONPATH=jac python3 -m jaclang format
  language: python
  args:
  - --lintfix
  require_serial: true
  additional_dependencies:
  - llvmlite>=0.43.0

fix(jac-scale): tighten passthrough fallthrough in handle_builtin_passthrough
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
Due: jac-format

chore(jac-scale): remove ROADMAP.md and stale README "deferred" section
  jac-scale/examples/micr-s-example/README.md
  jac-scale/jac_scale/microservices/ROADMAP.md
Due: ban-em-dashes

fix(jac-scale): bump default raw/stream_forward timeout 30s -> 90s
  jac-scale/jac_scale/microservices/impl/http_forward.jac
Due: jac-format

feat(jac-scale): configurable gateway-to-service forward timeout
  docs/docs/community/release_notes/unreleased/jac-scale/5483.feature.md
  jac-scale/jac_scale/impl/config_loader.impl.jac
  jac-scale/jac_scale/microservices/_util.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/microservices/setup.jac
  jac-scale/jac_scale/plugin_config.jac
  jac-scale/jac_scale/tests/test_gateway.jac
Due: ban-em-dashes, jac-format

chore(jac-scale): remove examples/micr-s-example from repo
  jac-scale/examples/micr-s-example/.gitignore
  jac-scale/examples/micr-s-example/README.md
  jac-scale/examples/micr-s-example/cart_app.jac
  jac-scale/examples/micr-s-example/components/AuthForm.cl.jac
  jac-scale/examples/micr-s-example/components/Button.cl.jac
  jac-scale/examples/micr-s-example/frontend.cl.jac
  jac-scale/examples/micr-s-example/frontend.impl.jac
  jac-scale/examples/micr-s-example/jac.toml
  jac-scale/examples/micr-s-example/main.jac
  jac-scale/examples/micr-s-example/orders_app.jac
  jac-scale/examples/micr-s-example/products_app.jac
  jac-scale/examples/micr-s-example/shared/models.jac
  jac-scale/examples/micr-s-example/test_e2e.sh
Due: ban-em-dashes, jac-format

feat(jac-scale): kvstore set_nx_with_ttl + delete_if_equals
  jac-scale/jac_scale/db.jac
  jac-scale/jac_scale/impl/db.impl.jac
Due: jac-format

docs: release notes fragment for jac-scale kvstore CAS primitives
  docs/docs/community/release_notes/unreleased/jac-scale/5746.feature.md
Due: ban-em-dashes

fix(jac-scale): default Redis username to 'default' to match --requirepass
  jac-scale/jac_scale/providers/database/kubernetes_redis.jac
Due: jac-format

fix(jac-scale): preserve TLS state on Ingress redeploys
  jac-scale/jac_scale/targets/kubernetes/ingress.jac
Due: jac-format

test(jac-scale): trim TLS-preserve tests to the two that catch the regression
  jac-scale/jac_scale/tests/test_deploy_k8s.jac
Due: jac-format

docs: rename release note to 5923.bugfix.md
  docs/docs/community/release_notes/unreleased/jac-scale/5923.bugfix.md
Due: ban-em-dashes

fix(byllm): bind streaming generator to its own contextvars.Context
  docs/docs/community/release_notes/unreleased/byllm/6015.bugfix.md
  jac-byllm/byllm/llm.impl/model.impl.jac
  jac-byllm/tests/fixtures/streaming_cross_context.jac
  jac-byllm/tests/test_byllm.jac
Due: ban-em-dashes, jac-format

health check fixed
  docs/docs/community/release_notes/unreleased/jac-scale/6012.feature.md
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
Due: ban-em-dashes, jac-format

fix(jac-scale): update microservice _deploy_databases call to new 4-arg signature
  docs/docs/community/release_notes/unreleased/jac-scale/fix-deploy-databases-microservice.bugfix.md
  jac-scale/jac_scale/targets/kubernetes/microservice/database_provisioner.jac
Due: ban-em-dashes, jac-format

test(jac-scale): regression test for microservice _deploy_databases arity
  jac-scale/jac_scale/tests/test_database_provisioner.jac
Due: jac-format

fix(cli): normalise --no-X dest so hyphenated bool args don't surface phantom True
  jac-scale/jac_scale/plugin.jac
  jac/jaclang/cli/impl/registry.impl.jac
Due: jac-format

fixed last 2 comments
  jac-scale/jac_scale/targets/kubernetes/ingress.jac
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
Due: jac-format

jac check fixed
  jac-scale/jac_scale/tests/test_deploy_k8s.jac
Due: jac-format

fixed test case
  jac-scale/jac_scale/tests/test_deploy_k8s.jac
Due: jac-format

fixed jac-check
  jac-scale/jac_scale/tests/test_deploy_k8s.jac
Due: jac-format

docs(jac-scale): add release note for shared ingress annotations (#6309)
  docs/docs/community/release_notes/unreleased/jac-scale/6309.feature.md
Due: ban-em-dashes

fix(jac-scale): hard podAffinity for code-sync to avoid RWO Multi-Attach (#6202)
  jac-scale/jac_scale/targets/kubernetes/utils/kubernetes_utils.impl.jac
Due: jac-format

fix(jac-scale): read LB endpoint from Ingress status in shared mode
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
Due: jac-format

fix(jac-scale): provision DBs in code-injection fleet too (#6728)
  jac-scale/jac_scale/targets/kubernetes/microservice/target.jac
Due: jac-format

fix(jac-scale): code-injection deploy defaults (startup probe + 2Gi) (#6728)
  docs/docs/community/release_notes/unreleased/jac-scale/6728.feature.md
  jac-scale/jac_scale/targets/kubernetes/microservice/manifest_builder.jac
  jac-scale/jac_scale/tests/test_pod_env.jac
Due: ban-em-dashes, jac-format

docs(jac-scale): reformat 6728 release note as bullet points
  docs/docs/community/release_notes/unreleased/jac-scale/6728.feature.md
Due: ban-em-dashes

fix(jac-scale): install scale-plugin runtime deps in --no-image bootstrap (#6798)
  docs/docs/community/release_notes/unreleased/jac-scale/6798.bugfix.md
  jac-scale/jac_scale/targets/kubernetes/microservice/source_bundle.jac
  jac-scale/jac_scale/tests/test_no_image.jac
Due: ban-em-dashes, jac-format

fix(jac-scale): write a stub jac.toml in the no-image bootstrap (#6798)
  docs/docs/community/release_notes/unreleased/jac-scale/6798.bugfix.md
  jac-scale/jac_scale/targets/kubernetes/microservice/source_bundle.jac
Due: ban-em-dashes, jac-format

fix(jac-scale): microservice deploy waits for the fleet rollout
  docs/docs/community/release_notes/unreleased/jac-scale/6798.bugfix.md
  jac-scale/jac_scale/targets/kubernetes/microservice/target.jac
Due: ban-em-dashes, jac-format

fix(native): clib struct pointer subscript read/write (#6707, #6708) (#6834)
  docs/docs/community/release_notes/unreleased/jaclang/6834.bugfix.md
  jac/jaclang/compiler/passes/native/na_ir_gen_pass.impl/expr.impl.jac
  jac/jaclang/compiler/passes/native/na_ir_gen_pass.impl/stmt.impl.jac
  jac/jaclang/compiler/passes/native/na_ir_gen_pass.impl/types.impl.jac
  jac/jaclang/compiler/passes/native/na_ir_gen_pass.jac
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/tests/compiler/passes/native/fixtures/ptr_subscript.na.jac
  jac/tests/compiler/passes/native/test_native_gen_pass.jac
  jac/tests/compiler/passes/native/test_ptr_subscript_exec.jac
  jac/tests/compiler/test_backend_purity.jac
Due: ban-em-dashes, jac-format

feat(native): static C-floor archive linking on Mach-O + nacompile wiring (#6978 Phase 0.1a) (#6986)
  docs/docs/community/release_notes/unreleased/jaclang/6986.feature.md
  jac/jaclang/cli/commands/analysis.jac
  jac/jaclang/cli/commands/impl/analysis.impl.jac
  jac/jaclang/cli/commands/impl/nacompile.impl.jac
  jac/jaclang/compiler/passes/native/elf_linker.jac
  jac/jaclang/compiler/passes/native/impl/elf_linker.impl.jac
  jac/jaclang/compiler/passes/native/impl/linker_common.impl.jac
  jac/jaclang/compiler/passes/native/impl/macho_linker.impl.jac
  jac/jaclang/compiler/passes/native/linker_common.jac
  jac/jaclang/compiler/passes/native/macho_linker.jac
  jac/tests/compiler/passes/native/fixtures/static_archive_crc32.na.jac
  jac/tests/compiler/passes/native/fixtures/static_archive_elf_leaf.na.jac
  jac/tests/compiler/passes/native/fixtures/static_archive_expat.na.jac
  jac/tests/compiler/passes/native/test_ar_archive.jac
  jac/tests/compiler/passes/native/test_static_archive_link.jac
Due: ban-em-dashes, jac-format

fix(scale): seed setuptools+wheel in the pod jac site before app install
  jac/jaclang/scale/deploy/target/kubernetes/runtime_bootstrap.jac
Due: jac-format

Path conditions:
  ban-em-dashes: any of: \.(md|markdown|mdown)$, but not: (?x)(
    ^jac/jaclang/vendor/|
    ^$
)

  jac-format: any of: \.jac$ and not ((/fixtures/|_err\.jac$|_syntax_err\.jac$)) and not ((?x)(
    ^jac/jaclang/vendor/|
    ^$
)
)
