Repository udithishanka/jaseci: changes, and which pre-commit hooks are due for each by the changed paths.
All: ban-em-dashes, jac-format

ban-em-dashes:
  name: Ban em-dashes (—)
  language: pygrep
  entry: —

jac-format:
  name: jac-format
  description: Format and lint-fix Jac files
  entry: env PYTHONPATH=jac python3 -m jaclang format
  language: python
  args:
  - --lintfix
  require_serial: true
  additional_dependencies:
  - llvmlite>=0.43.0

refactor(jac-scale): split gateway middleware; cache admin bootstrap
  jac-scale/jac_scale/microservices/gateway.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
Due: jac-format

refactor(jac-scale): console banner and sort-key prefix index
  jac-scale/jac_scale/microservices/impl/service_registry.impl.jac
  jac-scale/jac_scale/microservices/orchestrator.jac
Due: jac-format

fix(checker): super() in method returns parent instance, not Unknown (#5636)
  docs/docs/community/release_notes/unreleased/jaclang/5634.bugfix.md
  docs/docs/community/release_notes/unreleased/jaclang/5636.bugfix.md
  jac/jaclang/compiler/type_system/type_evaluator.impl/parameter_type_check.impl.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_bug_super_call_in_method.jac
  jac/tests/compiler/passes/main/test_checker_bugs.jac
Due: ban-em-dashes, jac-format

feat(jaclang): add sv_service_call hookspec on JacAPIServer
  jac/jaclang/jac0core/impl/runtime.impl.jac
  jac/jaclang/jac0core/runtime.jac
  jac/jaclang/runtimelib/sv_client.jac
Due: jac-format

refactor(jac-scale): override sv_service_call hookspec; shrink ensure_sv_service
  jac-scale/jac_scale/jserver/impl/jfast_api.impl.jac
  jac-scale/jac_scale/microservices/_auth_ctx.jac
  jac-scale/jac_scale/microservices/_util.jac
  jac-scale/jac_scale/microservices/sv_auth_client.py
  jac-scale/jac_scale/plugin.jac
  jac-scale/jac_scale/tests/test_sv_auth_forward.jac
Due: jac-format

chore(jac-scale): remove planning docs reintroduced by merge
  jac-scale/BRANCH_REVIEW.md
  jac-scale/CLEANUP_PLAN.md
  jac-scale/CLEANUP_PROGRESS.md
  jac-scale/FOLLOWUPS.md
  jac-scale/PR_PLAN.md
  jac-scale/docs/learn-and-do/day-01-what-are-microservices.md
  jac-scale/docs/learn-and-do/day-03-process-management.md
  jac-scale/docs/learn-and-do/day-04-reverse-proxy.md
  jac-scale/docs/learn-and-do/day-05-gateway-static-serving.md
  jac-scale/docs/learn-and-do/day-06-jwt-auth.md
  jac-scale/docs/learn-and-do/day-07-inter-service-communication.md
  jac-scale/docs/learn-and-do/day-08-cli-tooling.md
  jac-scale/docs/learn-and-do/day-09-plugin-integration.md
  jac-scale/docs/learn-and-do/day-11-testing-strategy.md
  jac-scale/docs/learn-and-do/day-11.1-kubernetes-deployment.md
  jac-scale/docs/learn-and-do/day-12-error-handling-resilience.md
  jac-scale/docs/learn-and-do/day-13-observability.md
  jac-scale/docs/learn-and-do/day-17-service-decomposition.md
  jac-scale/docs/learn-and-do/day-18-security-in-depth.md
  jac-scale/docs/learn-and-do/day-19-performance-and-caching.md
  jac-scale/docs/learn-and-do/day-20-production-readiness.md
  jac-scale/docs/microservice-mode-architecture.md
  jac-scale/jac_scale/microservices/PLAN.md
Due: ban-em-dashes

fix(examples): mini_todo onClick handler signature (#5637)
  jac/examples/mini_todo/main.jac
Due: jac-format

fix(type-checker): apply CFG-based narrowing to property member access (#5638)
  docs/docs/community/release_notes/unreleased/jaclang/5638.bugfix.md
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_property_narrowing.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

Integrate MCP client and tool support to Byllm (#5474)
  docs/docs/community/release_notes/unreleased/byllm/5474.feature.md
  jac-byllm/byllm/exceptions.jac
  jac-byllm/byllm/impl/mcp.impl.jac
  jac-byllm/byllm/impl/mtir.impl.jac
  jac-byllm/byllm/lib.jac
  jac-byllm/byllm/mcp.jac
  jac-byllm/byllm/mtir.jac
  jac-byllm/byllm/types.impl/tool.impl.jac
  jac-byllm/byllm/types.jac
  jac-byllm/examples/tool_calling/mcp_jac_assistant.jac
  jac-byllm/examples/tool_calling/mcp_remote_http.jac
  jac-byllm/examples/tool_calling/mcp_remote_streamable_http.jac
  jac-byllm/pyproject.toml
  jac-byllm/tests/test_byllm.jac
Due: ban-em-dashes, jac-format

docs(jac-scale): reword Authentication intro to drop internal schema details (#5597)
  docs/docs/reference/plugins/jac-scale.md
Due: ban-em-dashes

docs: document identity-based auth breaking changes (jac-scale 0.2.15) (#5596)
  docs/docs/community/breaking-changes.md
Due: ban-em-dashes

docs(release-notes): block direct edits and add contribution example (#5601)
  .github/workflows/docs-validation.yml
  CONTRIBUTING.md
  docs/docs/community/release_notes/unreleased/README.md
  scripts/check-release-notes.sh
Due: ban-em-dashes

fix(cfg): type basic_blocks dict to eliminate Unknown cascades (#5640)
  jac/jaclang/compiler/passes/main/cfg_build_pass.jac
  jac/jaclang/compiler/passes/main/impl/cfg_build_pass.impl.jac
Due: jac-format

refactor(jac-client): remove sudo auto-install from `jac setup desktop`, print instructions instead (#5631)
  docs/docs/community/release_notes/unreleased/jac-client/5631.feature.md
  jac-client/jac_client/plugin/src/targets/impl/desktop_target.impl.jac
  jac-client/jac_client/tests/test_desktop_setup_no_sudo.jac
Due: ban-em-dashes, jac-format

ci: block new Python files via PR check (#5600)
  .github/workflows/contribution-checks.yml
  .github/workflows/no-ai-coauthor.yml
Due: none

fix(cfg): resolve all 15 type errors in cfg_build_pass (#5643)
  docs/docs/community/release_notes/unreleased/jaclang/5643.bugfix.md
  jac/jaclang/compiler/passes/main/cfg_build_pass.jac
  jac/jaclang/compiler/passes/main/impl/cfg_build_pass.impl.jac
Due: ban-em-dashes, jac-format

style(jac-scale): replace em-dashes with ASCII hyphens
  jac-scale/examples/micr-s-example/README.md
  jac-scale/jac_scale/impl/config_loader.impl.jac
  jac-scale/jac_scale/microservices/_auth_ctx.jac
  jac-scale/jac_scale/microservices/docs.md
  jac-scale/jac_scale/microservices/gateway.jac
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/microservices/orchestrator.jac
  jac-scale/jac_scale/microservices/setup.jac
  jac-scale/jac_scale/plugin.jac
  jac-scale/jac_scale/plugin_config.jac
  jac-scale/jac_scale/tests/test_gateway.jac
Due: ban-em-dashes, jac-format

docs(jac-scale): add microservice roadmap + rewrite example readme
  jac-scale/examples/micr-s-example/README.md
  jac-scale/jac_scale/microservices/ROADMAP.md
Due: ban-em-dashes

test(jac-scale): add e2e shell test for microservice example
  jac-scale/examples/micr-s-example/README.md
  jac-scale/examples/micr-s-example/test_e2e.sh
Due: ban-em-dashes

test(jac-scale): add explicit ServiceDeployer checks to e2e script
  jac-scale/examples/micr-s-example/test_e2e.sh
Due: none

fix(jac-scale): inject peer URLs into child env to prevent grandchild spawn
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/microservices/impl/process_manager.impl.jac
Due: ban-em-dashes, jac-format

fix(jac-scale): shared-model imports, sequential startup, e2e green
  jac-scale/examples/micr-s-example/cart_app.jac
  jac-scale/examples/micr-s-example/frontend.cl.jac
  jac-scale/examples/micr-s-example/jac.toml
  jac-scale/examples/micr-s-example/main.jac
  jac-scale/examples/micr-s-example/orders_app.jac
  jac-scale/examples/micr-s-example/products_app.jac
  jac-scale/examples/micr-s-example/shared/models.jac
  jac-scale/examples/micr-s-example/test_e2e.sh
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/microservices/impl/process_manager.impl.jac
  jac-scale/jac_scale/plugin.jac
Due: ban-em-dashes, jac-format

docs(jac-scale): reorder roadmap as ordered pre-K8s production-local plan
  jac-scale/jac_scale/microservices/ROADMAP.md
Due: ban-em-dashes

feat(jac-scale): P1 - ServiceDeployer.url_for as single source of service URLs
  jac-scale/examples/micr-s-example/test_e2e.sh
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/microservices/_util.jac
  jac-scale/jac_scale/microservices/deployer.jac
  jac-scale/jac_scale/microservices/impl/local_deployer.impl.jac
  jac-scale/jac_scale/microservices/impl/process_manager.impl.jac
  jac-scale/jac_scale/microservices/local_deployer.jac
  jac-scale/jac_scale/microservices/process_manager.jac
  jac-scale/jac_scale/tests/test_deployer.jac
Due: ban-em-dashes, jac-format

feat: P3 - get_sv_registry hookspec; gateway no longer pokes sv_client._registry
  jac-scale/examples/micr-s-example/test_e2e.sh
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/microservices/impl/gateway.impl.jac
  jac-scale/jac_scale/tests/test_gateway.jac
  jac/jaclang/jac0core/impl/runtime.impl.jac
  jac/jaclang/jac0core/runtime.jac
Due: ban-em-dashes, jac-format

docs: enforce strict declarative data model policy (#5647)
  docs/docs/community/release_notes/unreleased/jaclang/5647.docs.md
  docs/docs/quick-guide/syntax-cheatsheet.md
  docs/docs/reference/language/foundation.md
  docs/docs/reference/language/functions-objects.md
Due: ban-em-dashes

fix(memory): tighten types around sqlite cursor/connection access (#5651)
  docs/docs/community/release_notes/unreleased/jaclang/5651.refactor.md
  jac/jaclang/runtimelib/impl/memory.impl.jac
Due: ban-em-dashes, jac-format

feat(lint): add W3039 getattr-to-null-ok auto-fix rule (#5658)
  docs/docs/community/release_notes/unreleased/jaclang/5658.feature.md
  jac-byllm/byllm/llm.impl/basellm.impl.jac
  jac-byllm/byllm/plugin.jac
  jac-byllm/byllm/telemetry.impl/telemetry.impl.jac
  jac-client/jac_client/plugin/src/targets/impl/web_target.impl.jac
  jac-scale/jac_scale/impl/memory_hierarchy.mongo.impl.jac
  jac-scale/jac_scale/impl/serve.endpoints.impl.jac
  jac-scale/jac_scale/jserver/impl/jfast_api.impl.jac
  jac/jaclang/cli/commands/impl/eject.impl.jac
  jac/jaclang/cli/impl/console.impl.jac
  jac/jaclang/compiler/passes/ecmascript/impl/esast_gen_pass.impl.jac
  jac/jaclang/compiler/passes/main/impl/cfg_build_pass.impl.jac
  jac/jaclang/compiler/passes/main/impl/layout_pass.impl.jac
  jac/jaclang/compiler/passes/main/impl/static_analysis_pass.impl.jac
  jac/jaclang/compiler/passes/main/impl/unitree_enrich_pass.impl.jac
  jac/jaclang/compiler/passes/native/na_ir_gen_pass.impl/core.impl.jac
  jac/jaclang/compiler/passes/native/na_ir_gen_pass.impl/dicts.impl.jac
  jac/jaclang/compiler/passes/native/na_ir_gen_pass.impl/types.impl.jac
  jac/jaclang/compiler/passes/tool/impl/comment_injection_pass.impl.jac
  jac/jaclang/compiler/passes/tool/impl/jac_auto_lint_pass.impl.jac
  jac/jaclang/compiler/passes/tool/jac_auto_lint_pass.jac
  jac/jaclang/compiler/type_system/type_evaluator.impl/imported.impl.jac
  jac/jaclang/jac0core/diagnostics.jac
  jac/jaclang/jac0core/impl/compiler.impl.jac
  jac/jaclang/jac0core/impl/runtime.impl.jac
  jac/jaclang/jac0core/modresolver.jac
  jac/jaclang/jac0core/passes/impl/interop_analysis_pass.impl.jac
  jac/jaclang/jac0core/plugin.jac
  jac/jaclang/runtimelib/impl/memory.impl.jac
  jac/jaclang/runtimelib/impl/server.impl.jac
  jac/jaclang/runtimelib/sv_client.jac
  jac/tests/compiler/passes/tool/fixtures/auto_lint/getattr_conversion.jac
  jac/tests/compiler/passes/tool/test_jac_auto_lint_pass.jac
Due: ban-em-dashes, jac-format

feat(jac-scale): P4 - pidfile-backed cross-process stop via jac scale CLI
  jac-scale/examples/micr-s-example/test_e2e.sh
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/microservices/impl/process_manager.impl.jac
  jac-scale/jac_scale/tests/test_process_manager.jac
Due: ban-em-dashes, jac-format

semstrings on inner fields lost when types are in a subpackage (#5627)
  docs/docs/community/release_notes/unreleased/jaclang/5627.bugfix.md
  jac-byllm/tests/test_mtir_integration.jac
  jac/jaclang/meta_importer.py
Due: ban-em-dashes, jac-format

feat(jac-scale): P5 - retry with exponential backoff in sv_service_call
  jac-scale/jac_scale/microservices/ROADMAP.md
  jac-scale/jac_scale/plugin.jac
  jac-scale/jac_scale/tests/test_sv_auth_forward.jac
Due: ban-em-dashes, jac-format

fix(type-checker): validate yield/return against Generator[Y, S, R] parameters (#5656)
  docs/docs/community/release_notes/unreleased/jaclang/5656.bugfix.md
  jac/jaclang/compiler/passes/main/impl/type_checker_pass.impl.jac
  jac/jaclang/compiler/type_system/impl/type_utils.impl.jac
  jac/jaclang/compiler/type_system/impl/types.impl.jac
  jac/jaclang/compiler/type_system/type_utils.jac
  jac/jaclang/compiler/type_system/types.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_generator_yield_return.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

Adopt identity/credential auth payload in jaclang and jac-client (#5655)
  docs/docs/community/release_notes/unreleased/jac-client/5655.feature.md
  docs/docs/community/release_notes/unreleased/jaclang/5655.breaking.md
  jac-client/jac_client/plugin/client_runtime.cl.jac
  jac-client/jac_client/plugin/impl/client_runtime.impl.jac
  jac-client/jac_client/tests/test_it.jac
  jac/jaclang/runtimelib/auth_models.jac
  jac/jaclang/runtimelib/client_runtime.cl.jac
  jac/jaclang/runtimelib/impl/client_runtime.impl.jac
  jac/jaclang/runtimelib/impl/server.impl.jac
  jac/jaclang/runtimelib/impl/testing.impl.jac
  jac/tests/runtimelib/test_auth_models.jac
  jac/tests/runtimelib/test_serve_client.jac
Due: ban-em-dashes, jac-format

feat(scripts): convert release scripts from Python to Jac (#5599)
  .github/workflows/create-release-pr.yml
  .github/workflows/publish-release.yml
  .pre-commit-config.yaml
  scripts/collect_release_notes.jac
  scripts/collect_release_notes.py
  scripts/parse_release.jac
  scripts/parse_release.py
  scripts/rd_parser_walk_check.py
  scripts/release.jac
  scripts/release.py
  scripts/release_utils.jac
  scripts/release_utils.py
  scripts/validate_fragments.jac
  scripts/validate_fragments.py
  scripts/validate_release.jac
  scripts/validate_release.py
  scripts/wait_for_pypi.jac
  scripts/wait_for_pypi.py
Due: jac-format

fix(persistence): prevent concurrent walker edge loss via delta-merge atomic writes (#5644)
  docs/docs/community/release_notes/unreleased/jac-scale/5644.bugfix.md
  docs/docs/community/release_notes/unreleased/jaclang/5644.bugfix.md
  jac-scale/jac_scale/impl/memory_hierarchy.main.impl.jac
  jac-scale/jac_scale/impl/memory_hierarchy.mongo.impl.jac
  jac-scale/jac_scale/memory_hierarchy.jac
  jac-scale/jac_scale/tests/test_memory_hierarchy.jac
  jac/jaclang/jac0core/archetype.jac
  jac/jaclang/jac0core/impl/archetype.impl.jac
  jac/jaclang/runtimelib/impl/memory.impl.jac
  jac/jaclang/runtimelib/impl/serializer.impl.jac
  jac/tests/runtimelib/test_topology_integration.jac
Due: ban-em-dashes, jac-format

fix(persistence): defer SqliteMemory/MongoBackend put() to sync() (fi… (#5663)
  docs/docs/community/release_notes/unreleased/jac-scale/5663.bugfix.md
  docs/docs/community/release_notes/unreleased/jaclang/5663.bugfix.md
  jac-scale/jac_scale/impl/memory_hierarchy.mongo.impl.jac
  jac/jaclang/jac0core/impl/runtime.impl.jac
  jac/jaclang/runtimelib/impl/memory.impl.jac
Due: ban-em-dashes, jac-format

fix(server): offload blocking sync walkers/functions to thread pool (#5639)
  docs/docs/community/release_notes/unreleased/jaclang/5639.bugfix.md
  jac/jaclang/jac0core/impl/runtime.impl.jac
  jac/jaclang/jac0core/runtime.jac
  jac/jaclang/runtimelib/context.jac
  jac/jaclang/runtimelib/impl/context.impl.jac
  jac/jaclang/runtimelib/impl/memory.impl.jac
  jac/jaclang/runtimelib/impl/server.impl.jac
  jac/jaclang/runtimelib/memory.jac
  jac/jaclang/runtimelib/server.jac
  jac/tests/runtimelib/fixtures/serve_blocking_io.jac
  jac/tests/runtimelib/test_serve_client.jac
Due: ban-em-dashes, jac-format

Path conditions:
  ban-em-dashes: any of: \.(md|markdown|mdown)$, but not: (?x)(
    ^jac/jaclang/vendor/|
    ^$
)

  jac-format: any of: \.jac$ and not ((/fixtures/|_err\.jac$|_syntax_err\.jac$)) and not ((?x)(
    ^jac/jaclang/vendor/|
    ^$
)
)
