Repository udithishanka/jaseci: changes, and which pre-commit hooks are due for each by the changed paths.
All: ban-em-dashes, jac-format

ban-em-dashes:
  name: Ban em-dashes (—)
  language: pygrep
  entry: —

jac-format:
  name: jac-format
  description: Format and lint-fix Jac files
  entry: env PYTHONPATH=jac python3 -m jaclang format
  language: python
  args:
  - --lintfix
  require_serial: true
  additional_dependencies:
  - llvmlite>=0.43.0

Fix tarball creation to exclude .git and .jac directories
  jac-scale/jac_scale/targets/kubernetes/utils/kubernetes_utils.impl.jac
  jac-scale/jac_scale/targets/kubernetes/utils/kubernetes_utils.jac
Due: jac-format

Migrate 3 more Python test files to native Jac tests (53 tests) (#4634)
  .jacignore
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/pytest_plugin.py
  jac/tests/compiler/test_importer.jac
  jac/tests/compiler/test_importer.py
  jac/tests/langserve/server_test/test_lang_serve.jac
  jac/tests/langserve/server_test/test_lang_serve.py
  jac/tests/langserve/server_test/utils.py
  jac/tests/langserve/test_server.jac
  jac/tests/langserve/test_server.py
  jac/tests/language/test_cli.jac
  jac/tests/language/test_cli.py
  jac/tests/language/test_py_infra.jac
  jac/tests/language/test_py_infra.py
  jac/tests/runtimelib/test_jaseci.jac
  jac/tests/runtimelib/test_jaseci.py
Due: ban-em-dashes, jac-format

Refactor tarball creation to improve exclusion of .jac and .git directories
  jac-scale/jac_scale/targets/kubernetes/utils/kubernetes_utils.impl.jac
Due: jac-format

Fix @restspec path parameter handling
  jac-scale/jac_scale/impl/serve.impl.jac
Due: jac-format

Update method signatures for path parameter support
  jac-scale/jac_scale/serve.jac
Due: jac-format

Add require_auth parameter to @restspec for auth control
  jac-scale/jac_scale/impl/serve.impl.jac
  jac-scale/jac_scale/serve.jac
  jac/jaclang/runtimelib/server.jac
Due: jac-format

Pop Authorization from kwargs before dispatching to function
  jac-scale/jac_scale/impl/serve.impl.jac
Due: jac-format

Pass through raw HTTP Response objects without serialization
  jac-scale/jac_scale/impl/serve.impl.jac
  jac/jaclang/runtimelib/impl/server.impl.jac
Due: jac-format

Support path converter syntax in _extract_path_params
  jac-scale/jac_scale/impl/serve.impl.jac
Due: jac-format

Fix catch-all route priority to prefer specific over generic
  jac-scale/jac_scale/jserver/impl/jfast_api.impl.jac
Due: jac-format

Filter unknown kwargs before dispatching to functions
  jac-scale/jac_scale/impl/serve.impl.jac
Due: jac-format

Fix :pub modifier ignored for imported functions in ModuleIntrospector
  jac/jaclang/runtimelib/impl/server.impl.jac
Due: jac-format

Fix restspec require_auth defaulting to True, bypassing introspector
  jac-scale/jac_scale/impl/serve.impl.jac
  jac/jaclang/runtimelib/server.jac
Due: jac-format

fix(parser): Correct bitwise vs logical operator precedence (#4669)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/jac.spec
  jac/jaclang/jac0core/parser/impl/parser.impl.jac
  jac/tests/language/fixtures/operator_precedence.jac
  jac/tests/language/test_language.jac
Due: ban-em-dashes, jac-format

Fix: Preserve type narrowing across `for` loops and ignoring loop back-edges during type evaluation. (#4646)
  .jacignore
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/passes/main/impl/cfg_build_pass.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/tests/langserve/fixtures/hover_loop.jac
  jac/tests/langserve/test_server.jac
Due: ban-em-dashes, jac-format

chore: remove unused vendored lark package artifacts (#4679)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/vendor/lark-1.2.2.dist-info/INSTALLER
  jac/jaclang/vendor/lark-1.2.2.dist-info/METADATA
  jac/jaclang/vendor/lark-1.2.2.dist-info/RECORD
  jac/jaclang/vendor/lark-1.2.2.dist-info/REQUESTED
  jac/jaclang/vendor/lark-1.2.2.dist-info/WHEEL
  jac/jaclang/vendor/lark-1.2.2.dist-info/entry_points.txt
  jac/jaclang/vendor/lark-1.2.2.dist-info/licenses/LICENSE
  jac/jaclang/vendor/lark-1.2.2.dist-info/top_level.txt
Due: ban-em-dashes

feat(kubernetes): enhance deployment strategy handling and improve error logging
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
  jac-scale/jac_scale/tests/test_deploy_k8s.jac
Due: jac-format

feat(monitoring): enhance Prometheus metrics support and add Kubernetes monitoring stack
  docs/docs/reference/plugins/jac-scale.md
Due: ban-em-dashes

fix review issues and update docs
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
Due: jac-format

release: jaclang 0.10.4 (#4695)
  docs/docs/community/release_notes/jaclang.md
  jac/pyproject.toml
Due: ban-em-dashes

fix(typechecker): add depth limit to type narrowing CFG walk (#4703)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/jaclang/meta_importer.py
  jac/tests/language/test_language.jac
Due: ban-em-dashes, jac-format

ci: add jac-gpt integration test to test-pypi-build job
  .github/workflows/test-jaseci.yml
Due: none

feat(byllm): add StreamEvent logging for ReAct intermediate steps
  jac-byllm/byllm/lib.jac
  jac-byllm/byllm/llm.impl/basellm.impl.jac
  jac-byllm/byllm/llm.jac
  jac-byllm/byllm/types.jac
Due: jac-format

feat(jac-scale): share Ingress Controller instead of per-namespace NLBs
  jac-scale/jac_scale/targets/kubernetes/kubernetes_config.jac
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
  jac-scale/jac_scale/targets/kubernetes/utils/kubernetes_utils.impl.jac
  jac-scale/jac_scale/targets/kubernetes/utils/kubernetes_utils.jac
Due: jac-format

Add release notes for shared Ingress support in jac-scale
  docs/docs/community/release_notes/jac-scale.md
Due: ban-em-dashes

Fix em-dash in release notes
  docs/docs/community/release_notes/jac-scale.md
Due: ban-em-dashes

Add usage telemetry to byllm
  jac-byllm/byllm/lib.jac
  jac-byllm/byllm/llm.impl/basellm.impl.jac
  jac-byllm/byllm/llm.impl/mockllm.impl.jac
  jac-byllm/byllm/llm.impl/model.impl.jac
  jac-byllm/byllm/llm.jac
  jac-byllm/byllm/types.jac
Due: jac-format

Add sandbox system for isolated preview environments
  jac-scale/jac_scale/abstractions/ingress_provider.jac
  jac-scale/jac_scale/abstractions/models/sandbox_config.jac
  jac-scale/jac_scale/abstractions/models/sandbox_result.jac
  jac-scale/jac_scale/abstractions/models/sandbox_status.jac
  jac-scale/jac_scale/abstractions/sandbox_environment.jac
  jac-scale/jac_scale/factories/ingress_factory.jac
  jac-scale/jac_scale/factories/sandbox_factory.jac
  jac-scale/jac_scale/lib.jac
  jac-scale/jac_scale/plugin_config.jac
  jac-scale/jac_scale/providers/ingress/kubernetes_ingress.jac
  jac-scale/jac_scale/providers/ingress/local_ingress.jac
  jac-scale/jac_scale/providers/sandbox/docker_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/local_sandbox.jac
  jac-scale/jac_scale/tests/test_sandbox_factory.jac
Due: jac-format

Fix LocalSandbox.create() wiping preview dir when code_path is same as preview_dir
  jac-scale/jac_scale/providers/sandbox/local_sandbox.jac
Due: jac-format

Fix NoneType error when Redis deployment has no annotations
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
Due: jac-format

Add release note for Redis annotation null guard fix
  docs/docs/community/release_notes/jac-scale.md
Due: ban-em-dashes

Format kubernetes_target.jac with jac format
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
Due: jac-format

Fix jac command not found in sandbox pods
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Fix sandbox pod HOME and PATH for non-root user
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Install Bun in sandbox pods for client bundle builds
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Simplify sandbox startup for root execution
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Add custom ingress annotations support for sandbox routing
  jac-scale/jac_scale/abstractions/models/sandbox_config.jac
  jac-scale/jac_scale/providers/ingress/kubernetes_ingress.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Add pre-baked sandbox base image, simplify pod startup command
  jac-scale/docker/sandbox-base/Dockerfile
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Add routing proxy + warm pool for instant sandbox previews
  jac-scale/docker/sandbox-proxy/Dockerfile
  jac-scale/docker/sandbox-proxy/k8s/deployment.yaml
  jac-scale/docker/sandbox-proxy/k8s/ingress.yaml
  jac-scale/docker/sandbox-proxy/k8s/rbac.yaml
  jac-scale/docker/sandbox-proxy/k8s/service.yaml
  jac-scale/docker/sandbox-proxy/proxy.py
  jac-scale/jac_scale/abstractions/models/sandbox_config.jac
  jac-scale/jac_scale/factories/ingress_factory.jac
  jac-scale/jac_scale/providers/ingress/proxy_ingress.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Fix sandbox log repeating and enable HMR in K8s previews
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Path conditions:
  ban-em-dashes: any of: \.(md|markdown|mdown)$, but not: (?x)(
    ^jac/jaclang/vendor/|
    ^$
)

  jac-format: any of: \.jac$ and not ((/fixtures/|_err\.jac$|_syntax_err\.jac$)) and not ((?x)(
    ^jac/jaclang/vendor/|
    ^$
)
)
