Repository udithishanka/jaseci: changes, and which pre-commit hooks are due for each by the changed paths.
All: ban-em-dashes, jac-format

ban-em-dashes:
  name: Ban em-dashes (—)
  language: pygrep
  entry: —

jac-format:
  name: jac-format
  description: Format and lint-fix Jac files
  entry: env PYTHONPATH=jac python3 -m jaclang format
  language: python
  args:
  - --lintfix
  require_serial: true
  additional_dependencies:
  - llvmlite>=0.43.0

Harden K8s sandbox pods: drop capabilities, seccomp, disable SA token, cap /app size
  jac-scale/jac_scale/abstractions/models/sandbox_config.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Format kubernetes_sandbox.jac to pass lint
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Fix sandbox Dockerfile for non-root execution (security_context=true)
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-base.Dockerfile
Due: none

Chown /app to uid 1000 after init container copies code
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Add jac user (uid 1000) to sandbox image for proper shell prompt
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-base.Dockerfile
Due: none

Add sandbox security hardening tests and release notes
  docs/docs/community/release_notes/jac-scale.md
  jac-scale/jac_scale/tests/test_sandbox_security.jac
Due: ban-em-dashes, jac-format

Consolidate security tests into test_sandbox_factory.jac
  jac-scale/jac_scale/tests/test_sandbox_factory.jac
  jac-scale/jac_scale/tests/test_sandbox_security.jac
Due: jac-format

fix: update existing HPA on redeployment instead of silently ignoring config changes
  docs/docs/community/release_notes/jac-scale.md
  jac-scale/jac_scale/targets/kubernetes/hpa/impl/hpa.impl.jac
Due: ban-em-dashes, jac-format

test: add unit tests for HPA replace-on-redeploy behavior
  jac-scale/jac_scale/tests/test_k8s_utils.jac
Due: jac-format

test: replace unit tests with integration test for HPA update on redeploy
  jac-scale/jac_scale/tests/test_deploy_k8s.jac
  jac-scale/jac_scale/tests/test_k8s_utils.jac
Due: jac-format

fix: add installation command for mcp in Kubernetes target setup
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
Due: jac-format

Add warm_pool_ttl config to control warm pod lifetime separately
  jac-scale/jac_scale/abstractions/models/sandbox_config.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Add tests, release notes, and jac format for warm_pool_ttl
  docs/docs/community/release_notes/jac-scale.md
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
  jac-scale/jac_scale/tests/test_sandbox_factory.jac
Due: ban-em-dashes, jac-format

String method chaining in .cl.jac fails to transpile to JS equivalents (#5317)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/passes/ecmascript/impl/esast_gen_pass.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.impl/evaluator_util_methods.impl.jac
  jac/tests/compiler/passes/ecmascript/fixtures/str_method_chaining.cl.jac
  jac/tests/compiler/passes/ecmascript/test_js_generation.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: ban-em-dashes, jac-format

fix: return STOPPED for dead sandbox pods instead of cached state
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

test+docs: add test and release notes for sandbox status fix
  docs/docs/community/release_notes/jac-scale.md
  jac-scale/jac_scale/tests/test_sandbox_factory.jac
Due: ban-em-dashes, jac-format

fix: upgrade jac-client in sandbox startup for Vite proxy support
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

fix: revert sandbox pip upgrade, update base Dockerfile with agent-browser
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-base.Dockerfile
Due: jac-format

style: use console.print instead of print for sandbox status logging
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

fix: update Dockerfile to install Chrome dependencies separately before agent-browser
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-base.Dockerfile
Due: none

fix: include jac.toml and CSS files in jac-scale wheel
  jac-scale/pyproject.toml
Due: none

test+docs: add test and release note for admin portal packaging fix
  docs/docs/community/release_notes/jac-scale.md
  jac-scale/jac_scale/tests/test_admin.jac
Due: ban-em-dashes, jac-format

revert: remove Dockerfile changes from sandbox status fix PR
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-base.Dockerfile
Due: none

docs: move release note to 0.2.11 unreleased section
  docs/docs/community/release_notes/jac-scale.md
Due: ban-em-dashes

feat(byllm): add ModelPool for LLM fallback and load-balancing via LiteLLM Router
  jac-byllm/byllm/lib.jac
  jac-byllm/byllm/llm.impl/modelpool.impl.jac
  jac-byllm/byllm/llm.jac
  jac-byllm/tests/fixtures/model_pool_all_fail.jac
  jac-byllm/tests/fixtures/model_pool_basic.jac
  jac-byllm/tests/fixtures/model_pool_fallback.jac
  jac-byllm/tests/test_byllm.jac
Due: jac-format

fix(byllm): use unique aliases + fallbacks chain for ModelPool fallback strategy
  jac-byllm/byllm/llm.impl/modelpool.impl.jac
  jac-byllm/tests/fixtures/model_pool_fallback.jac
  jac-byllm/tests/test_byllm.jac
Due: jac-format

test(byllm): rewrite ModelPool fixtures to test real Router fallback logic
  jac-byllm/tests/fixtures/model_pool_all_fail.jac
  jac-byllm/tests/fixtures/model_pool_basic.jac
  jac-byllm/tests/fixtures/model_pool_fallback.jac
  jac-byllm/tests/test_byllm.jac
Due: jac-format

fix: change sandbox restart_policy from Never to Always
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

fix: use claim time for warm-started sandbox TTL calculation
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

add release notes and tests for sandbox restart policy + TTL fix
  docs/docs/community/release_notes/jac-scale.md
  jac-scale/jac_scale/tests/test_sandbox_factory.jac
Due: ban-em-dashes, jac-format

fix: skip active sandbox pods not in local registry during cleanup
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Fix cross-user file leak in warm pod recycling
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

feat: add stateless v2 sandbox API with rollback support
  jac-scale/jac_scale/abstractions/sandbox_environment.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

fix: move docstrings before method definitions (Jac syntax)
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

fix: prevent cross-user sandbox leak in multi-pod warm pool
  jac-scale/jac_scale/providers/proxy/sandbox_proxy.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

fix: SIGKILL + port-free wait, full /tmp wipe, direct pod delete on failure
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

refactor: stateless warm pool — remove in-memory _warm_pool list
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

fix: remove docstrings from function bodies (Jac syntax)
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

fix: update admin client build process to use writable directory for artifacts
  jac-scale/jac_scale/admin/impl/admin_portal.impl.jac
Due: jac-format

Path conditions:
  ban-em-dashes: any of: \.(md|markdown|mdown)$, but not: (?x)(
    ^jac/jaclang/vendor/|
    ^$
)

  jac-format: any of: \.jac$ and not ((/fixtures/|_err\.jac$|_syntax_err\.jac$)) and not ((?x)(
    ^jac/jaclang/vendor/|
    ^$
)
)
