Repository udithishanka/jaseci: changes, and which pre-commit hooks are due for each by the changed paths.
All: ban-em-dashes, jac-format

.pre-commit-config.yaml:

ci:
  skip: [jac-format]

exclude: |
    (?x)(
        ^jac/jaclang/vendor/|
        ^$
    )


repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
      - id: check-json
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
    - id: markdownlint-cli2
      args: [--fix]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args:
          - --ignore-missing-imports
          - --config-file=mypy.ini
          - --explicit-package-bases
        additional_dependencies: [types-PyYAML, types-requests]
        exclude: (/fixtures/|/vendor/|/scripts/|jac/examples/reference)
  - repo: local
    hooks:
      - id: check-no-binary-files
        name: Check for binary files
        entry: Binary files are not allowed
        language: fail
        types: [binary]
        exclude: |
          (?x)(
              ^jac-client/jac_client/examples/all-in-one/assets/burger.png$|
              ^docs/docs/assets/logo\.png$|
              ^docs/docs/assets/org1_logo\.png$|
              ^docs/docs/assets/org2_logo\.png$|
              ^docs/docs/assets/org3_logo\.png$|
              ^jac-byllm/examples/vision/math_question\.jpg$|
              ^jac-byllm/examples/vision/mugen\.mp4$|
              ^jac-byllm/examples/vision/person\.png$|
              ^jac-byllm/examples/vision/receipt\.jpg$|
              ^jac-byllm/tests/fixtures/SampleVideo_1280x720_2mb\.mp4$|
              ^jac-byllm/tests/fixtures/alan-m-turing\.jpg$|
              ^jac-byllm/tests/fixtures/image\.jpg$|
              ^jac-byllm/tests/fixtures/math_question\.jpg$|
              ^jac-byllm/tests/fixtures/webp_image_of_person\.webp$|
              ^jac-client/jac_client/examples/asset-serving/css-with-image/assets/burger\.png$|
              ^jac-client/jac_client/examples/asset-serving/image-asset/assets/burger\.png$|
              ^jac-client/jac_client/examples/asset-serving/import-alias/assets/burger\.png$|
              ^jac/examples/rpg_game/jac_impl/fonts/8bitoperator_jve\.ttf$|
              ^jac/examples/rpg_game/lib_mode/8bitoperator_jve\.ttf$|
              ^jac/examples/rpg_game/python_impl/8bitoperator_jve\.ttf$
          )

      - id: ban-em-dashes
        name: Ban em-dashes (—)
        language: pygrep
        entry: '—'
        types: [markdown]

      - id: jac-format
        name: jac-format
        description: Format and lint-fix Jac files
        entry: env PYTHONPATH=jac python3 -m jaclang format
        language: python
        types: [file]
        args: [--lintfix]
        files: \.jac$
        require_serial: true
        exclude: (/fixtures/|_err\.jac$|_syntax_err\.jac$)
        additional_dependencies: [llvmlite>=0.43.0]

Add --host flag to Vite dev server for K8s pod accessibility
  jac-client/jac_client/plugin/src/impl/vite_bundler.impl.jac
Due: jac-format

Add host: true to Vite dev config for K8s sandbox access
  jac-client/jac_client/plugin/src/impl/vite_bundler.impl.jac
Due: jac-format

Update sandbox base image to install jac-client from fork
  jac-scale/docker/sandbox-base/Dockerfile
Due: none

Add healthcheck path annotation to ingress configuration
  jac-scale/docker/sandbox-proxy/k8s/ingress.yaml
Due: none

ci: move jac-gpt integration test to separate workflow with pull_request_target
  .github/workflows/test-jac-gpt.yml
  .github/workflows/test-jaseci.yml
Due: none

ci: add jac-gpt integration test workflow
  .github/workflows/test-jac-gpt.yml
  .github/workflows/test-jaseci.yml
Due: none

ci: add jac check step to jac-gpt integration test
  .github/workflows/test-jaseci.yml
Due: none

Refactor sandbox system: cloud-agnostic templates, path safety, code cleanup
  docs/docs/community/release_notes/jac-scale.md
  jac-scale/docker/sandbox-proxy/Dockerfile
  jac-scale/docker/sandbox-proxy/k8s/ingress.yaml
  jac-scale/docker/sandbox-proxy/proxy.py
  jac-scale/jac_scale/abstractions/models/sandbox_config.jac
  jac-scale/jac_scale/abstractions/models/sandbox_result.jac
  jac-scale/jac_scale/abstractions/models/sandbox_status.jac
  jac-scale/jac_scale/abstractions/sandbox_environment.jac
  jac-scale/jac_scale/providers/proxy/sandbox_proxy.jac
  jac-scale/jac_scale/providers/sandbox/docker_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-base.Dockerfile
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-proxy.Dockerfile
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-proxy/deployment.yaml
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-proxy/ingress.yaml
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-proxy/rbac.yaml
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-proxy/service.yaml
Due: ban-em-dashes, jac-format

Restore init() methods for model classes — required for keyword-arg construction
  jac-scale/jac_scale/abstractions/models/sandbox_config.jac
  jac-scale/jac_scale/abstractions/models/sandbox_result.jac
  jac-scale/jac_scale/abstractions/models/sandbox_status.jac
Due: jac-format

Fix CI: jac format --lintfix on all files, add jac-client release notes
  docs/docs/community/release_notes/jac-client.md
  jac-client/jac_client/plugin/src/impl/vite_bundler.impl.jac
  jac-scale/jac_scale/abstractions/ingress_provider.jac
  jac-scale/jac_scale/abstractions/sandbox_environment.jac
  jac-scale/jac_scale/factories/ingress_factory.jac
  jac-scale/jac_scale/factories/sandbox_factory.jac
  jac-scale/jac_scale/providers/ingress/kubernetes_ingress.jac
  jac-scale/jac_scale/providers/ingress/local_ingress.jac
  jac-scale/jac_scale/providers/ingress/proxy_ingress.jac
  jac-scale/jac_scale/providers/proxy/sandbox_proxy.jac
  jac-scale/jac_scale/providers/sandbox/local_sandbox.jac
  jac-scale/jac_scale/tests/test_sandbox_factory.jac
Due: ban-em-dashes, jac-format

Add background cleanup loop for sandbox pod lifecycle
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Fix sandbox preview: auto-refresh on startup + include binary assets
  jac-scale/jac_scale/providers/proxy/sandbox_proxy.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Fix ConfigMap binary_data serialization + WS timeout for HMR
  jac-scale/jac_scale/providers/proxy/sandbox_proxy.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Fix HMR WebSocket proxy to forward vite-hmr sub-protocol
  jac-scale/jac_scale/providers/proxy/sandbox_proxy.jac
Due: jac-format

Fix jac-lang-website OOM crash by switching to PyPI jaclang
  .github/workflows/deploy-docs.yml
  docs/scripts/handle_jac_compile_data.py
Due: none

fix(jac-scale): include redis.conf.template in package distribution
  docs/docs/community/release_notes/jac-scale.md
  jac-scale/pyproject.toml
Due: ban-em-dashes

Fix(type-checker): Tuple unpacking in for loops now infers correct types (#5084)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_bug_tuple_unpack_for_loop.jac
  jac/tests/compiler/passes/main/test_checker_bugs.jac
Due: ban-em-dashes, jac-format

Parallelize NGINX Ingress controller startup with database/monitoring deployment (#5092)
  docs/docs/community/release_notes/jac-scale.md
  jac-scale/jac_scale/targets/kubernetes/ingress.jac
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
  jac-scale/jac_scale/targets/kubernetes/utils/kubernetes_utils.impl.jac
  jac-scale/jac_scale/tests/test_deploy_k8s.jac
Due: ban-em-dashes, jac-format

Feat(type-checker): Validate operations on bounded and unbounded TypeVars (#5091)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/passes/main/impl/type_checker_pass.impl.jac
  jac/jaclang/compiler/type_system/operations.jac
  jac/jaclang/compiler/type_system/type_evaluator.impl/parameter_type_check.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.jac
  jac/jaclang/compiler/type_system/types.jac
  jac/tests/compiler/passes/main/fixtures/checker/typevar/typeVar5.jac
  jac/tests/compiler/passes/main/fixtures/checker/typevar/typeVar6.jac
  jac/tests/compiler/passes/main/test_typevar.jac
Due: ban-em-dashes, jac-format

Feat: Auto-register Jac import hook via .pth file (#5106)
  docs/docs/community/release_notes/jaclang.md
  docs/docs/reference/language/python-integration.md
  docs/docs/reference/plugins/byllm.md
  jac/_jac_finder.py
  jac/jaclang.pth
  jac/pyproject.toml
  jac/setup.py
  scripts/integration_tests.jac
Due: ban-em-dashes, jac-format

Fix jac command not found in sandbox pods
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Install Bun in sandbox pods for client bundle builds
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Add custom ingress annotations support for sandbox routing
  jac-scale/jac_scale/abstractions/models/sandbox_config.jac
  jac-scale/jac_scale/providers/ingress/kubernetes_ingress.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Add pre-baked sandbox base image, simplify pod startup command
  jac-scale/docker/sandbox-base/Dockerfile
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Fix sandbox log repeating and enable HMR in K8s previews
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Fix sandbox pod HOME and PATH for non-root user
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Fix LocalSandbox.create() wiping preview dir when code_path is same as preview_dir
  jac-scale/jac_scale/providers/sandbox/local_sandbox.jac
Due: jac-format

Add routing proxy + warm pool for instant sandbox previews
  jac-scale/docker/sandbox-proxy/Dockerfile
  jac-scale/docker/sandbox-proxy/k8s/deployment.yaml
  jac-scale/docker/sandbox-proxy/k8s/ingress.yaml
  jac-scale/docker/sandbox-proxy/k8s/rbac.yaml
  jac-scale/docker/sandbox-proxy/k8s/service.yaml
  jac-scale/docker/sandbox-proxy/proxy.py
  jac-scale/jac_scale/abstractions/models/sandbox_config.jac
  jac-scale/jac_scale/factories/ingress_factory.jac
  jac-scale/jac_scale/providers/ingress/proxy_ingress.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Simplify sandbox startup for root execution
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Add sandbox system for isolated preview environments
  jac-scale/jac_scale/abstractions/ingress_provider.jac
  jac-scale/jac_scale/abstractions/models/sandbox_config.jac
  jac-scale/jac_scale/abstractions/models/sandbox_result.jac
  jac-scale/jac_scale/abstractions/models/sandbox_status.jac
  jac-scale/jac_scale/abstractions/sandbox_environment.jac
  jac-scale/jac_scale/factories/ingress_factory.jac
  jac-scale/jac_scale/factories/sandbox_factory.jac
  jac-scale/jac_scale/lib.jac
  jac-scale/jac_scale/plugin_config.jac
  jac-scale/jac_scale/providers/ingress/kubernetes_ingress.jac
  jac-scale/jac_scale/providers/ingress/local_ingress.jac
  jac-scale/jac_scale/providers/sandbox/docker_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
  jac-scale/jac_scale/providers/sandbox/local_sandbox.jac
  jac-scale/jac_scale/tests/test_sandbox_factory.jac
Due: jac-format

Fix jac format ternary simplification warnings
  jac-scale/jac_scale/providers/proxy/sandbox_proxy.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
Due: jac-format

Add comprehensive sandbox system documentation to jac-scale reference
  docs/docs/reference/plugins/jac-scale.md
Due: ban-em-dashes
